<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0</key>
	<dict>
		<key>avatarImage</key>
		<string>/Library/Application Support/Nova.bundle/Assets/avatar.png</string>
		<key>recipientLabel</key>
		<string>MeBlackHat</string>
		<key>messageLabel</key>
		<string>This is a test Message</string>
		<key>scheduleLabel</key>
		<string>13/04/2020 13:00</string>
	</dict>
	<key>1</key>
	<dict>
		<key>avatarImage</key>
		<string>/Library/Application Support/Nova.bundle/Assets/avatar.png</string>
		<key>recipientLabel</key>
		<string>MeBlackHat 1</string>
		<key>messageLabel</key>
		<string>This is a 2nd test Message</string>
		<key>scheduleLabel</key>
		<string>13/04/2020 13:10</string>
	</dict>
	<key>2</key>
	<dict>
		<key>avatarImage</key>
		<string>/Library/Application Support/Nova.bundle/Assets/avatar.png</string>
		<key>recipientLabel</key>
		<string>MeBlackHat 2</string>
		<key>messageLabel</key>
		<string>This is a 3rd test Message</string>
		<key>scheduleLabel</key>
		<string>13/04/2020 13:20</string>
	</dict>
</dict>
</plist>
