<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>items</key>
		<array>

			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>headerCellClass</key>
				<string>TDHeaderCell</string>
				<key>title</key>
				<string>Haptic</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>cellClass</key>
				<string>TDSwitchCell</string>
				<key>default</key>
				<true/>
				<key>key</key>
				<string>toggleAppdataHaptic</string>
				<key>title</key>
				<string>Enable</string>
				<key>subtitle</key>
				<string>Haptic Feedback</string>
				<key>iconName</key>
				<string>switch</string>
				<key>showTips</key>
				<false/>
				<key>defaults</key>
				<string>com.TitanD3v.ParadisePrefs</string>
				<key>PostNotification</key>
				<string>com.TitanD3v.ParadisePrefs.settingschanged</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSSegmentCell</string>
				<key>cellClass</key>
				<string>TDSegmentCell</string>
				<key>key</key>
				<string>appdataHapticStrength</string>
				<key>default</key>
				<string>0</string>
				<key>validTitles</key>
				<array>
					<string>Light</string>
					<string>Medium</string>
					<string>Heavy</string>
				</array>
				<key>validValues</key>
				<array>
					<integer>0</integer>
					<integer>1</integer>
					<integer>2</integer>
				</array>
				<key>title</key>
				<string>Type</string>
				<key>showTips</key>
				<false/>
				<key>defaults</key>
				<string>com.TitanD3v.ParadisePrefs</string>
				<key>PostNotification</key>
				<string>com.TitanD3v.ParadisePrefs.settingschanged</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>headerCellClass</key>
				<string>TDHeaderCell</string>
				<key>title</key>
				<string>Custom Font</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>cellClass</key>
				<string>TDSwitchCell</string>
				<key>default</key>
				<false/>
				<key>key</key>
				<string>toggleAppdataCustomFont</string>
				<key>title</key>
				<string>Enable</string>
				<key>subtitle</key>
				<string>Custom font</string>
				<key>customIcon</key>
				<false/>
				<key>iconTint</key>
				<false/>
				<key>iconName</key>
				<string>switch</string>
				<key>showTips</key>
				<false/>
				<key>defaults</key>
				<string>com.TitanD3v.ParadisePrefs</string>
				<key>PostNotification</key>
				<string>com.TitanD3v.ParadisePrefs.settingschanged</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>cellClass</key>
				<string>TDFontPickerCell</string>
				<key>title</key>
				<string>Select</string>
				<key>subtitle</key>
				<string>Font</string>
				<key>key</key>
				<string>appdataCustomFont</string>
				<key>iconName</key>
				<string>font</string>
				<key>defaults</key>
				<string>com.TitanD3v.ParadisePrefs</string>
				<key>PostNotification</key>
				<string>com.TitanD3v.ParadisePrefs.settingschanged</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>headerCellClass</key>
				<string>TDHeaderCell</string>
				<key>title</key>
				<string>Corner Radius</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSSliderCell</string>
				<key>cellClass</key>
				<string>TDSliderCell</string>
				<key>title</key>
				<string>Paradise Corner Radius</string>
				<key>default</key>
				<integer>30</integer>
				<key>key</key>
				<string>bottomSheetCornerRadius</string>
				<key>min</key>
				<integer>1</integer>
				<key>max</key>
				<integer>50</integer>
				<key>showValue</key>
				<true/>
				<key>isSegmented</key>
				<false/>
				<key>showTips</key>
				<false/>
				<key>defaults</key>
				<string>com.TitanD3v.ParadisePrefs</string>
				<key>PostNotification</key>
				<string>com.TitanD3v.ParadisePrefs.settingschanged</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>headerCellClass</key>
				<string>TDHeaderCell</string>
				<key>title</key>
				<string>3D Menu</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>cellClass</key>
				<string>TDSwitchCell</string>
				<key>default</key>
				<false/>
				<key>key</key>
				<string>toggle3DMenu</string>
				<key>title</key>
				<string>Enable</string>
				<key>subtitle</key>
				<string>Paradise 3D Menu</string>
				<key>iconName</key>
				<string>switch</string>
				<key>showTips</key>
				<false/>
				<key>defaults</key>
				<string>com.TitanD3v.ParadisePrefs</string>
				<key>PostNotification</key>
				<string>com.TitanD3v.ParadisePrefs.settingschanged</string>
			</dict>

		</array>
		<key>title</key>
		<string></string>
	</dict>
</plist>
