<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>

    <dict>
        <key>banner</key>
        <string>sgwc-banner.png</string>
        <key>avatar</key>
        <string>sgwc-avatar.png</string>
		<key>name</key>
        <string>SouthernGirlWhoCode</string>
        <key>role</key>
        <string>iOS front-end developer</string>
        <key>url</key>
        <string>https://twitter.com/SouthGalWhoCode</string>
    </dict>

        <dict>
        <key>banner</key>
        <string>blackhat-banner.png</string>
        <key>avatar</key>
        <string>blackhat-avatar.png</string>
		<key>name</key>
        <string>MeBlackHat</string>
        <key>role</key>
        <string>iOS back-end developer</string>
        <key>url</key>
        <string>https://twitter.com/Mr_BlackHat_7</string>
    </dict>

</array>
</plist>
