<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>items</key>
		<array>

		<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>headerCellClass</key>
				<string>TDHeaderCell</string>
				<key>title</key>
				<string>Custom Colour</string>
			</dict>

			<dict>
				<key>cellClass</key>
				<string>TDEnableCell</string>
				<key>default</key>
				<false/>
				<key>key</key>
				<string>toggleCustomColour</string>
				<key>disabledTitle</key>
				<string>Disable Colour</string>
				<key>enabledTitle</key>
				<string>Enable Colour</string>
				<key>disabledColour</key>
				<string>B92F2F</string>
				<key>enabledColour</key>
				<string>43EB1F</string>
				<key>customIcon</key>
				<false/>
				<key>disabledIconPath</key>
				<string>colour</string>
				<key>enabledIconPath</key>
				<string>colour</string>
				<key>defaults</key>
				<string>com.TitanD3v.NovaPrefs</string>
				<key>PostNotification</key>
				<string>com.TitanD3v.NovaPrefs.settingschanged</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>cellClass</key>
				<string>TDColourPickerCell</string>
				<key>title</key>
				<string>Background</string>
				<key>subtitle</key>
				<string>Colour</string>
				<key>default</key>
				<string>FFFFFF</string>
				<key>key</key>
				<string>backgroundColour</string>
				<key>iconName</key>
				<string>colour</string>
				<key>defaults</key>
				<string>com.TitanD3v.NovaPrefs</string>
				<key>PostNotification</key>
				<string>com.TitanD3v.NovaPrefs.settingschanged</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>cellClass</key>
				<string>TDColourPickerCell</string>
				<key>title</key>
				<string>Cell</string>
				<key>subtitle</key>
				<string>Colour</string>
				<key>default</key>
				<string>FFFFFF</string>
				<key>key</key>
				<string>cellColour</string>
				<key>iconName</key>
				<string>colour</string>
				<key>defaults</key>
				<string>com.TitanD3v.NovaPrefs</string>
				<key>PostNotification</key>
				<string>com.TitanD3v.NovaPrefs.settingschanged</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>cellClass</key>
				<string>TDColourPickerCell</string>
				<key>title</key>
				<string>Font</string>
				<key>subtitle</key>
				<string>Colour</string>
				<key>default</key>
				<string>FFFFFF</string>
				<key>key</key>
				<string>fontColour</string>
				<key>iconName</key>
				<string>colour</string>
				<key>defaults</key>
				<string>com.TitanD3v.NovaPrefs</string>
				<key>PostNotification</key>
				<string>com.TitanD3v.NovaPrefs.settingschanged</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>cellClass</key>
				<string>TDColourPickerCell</string>
				<key>title</key>
				<string>Accent</string>
				<key>subtitle</key>
				<string>Colour</string>
				<key>default</key>
				<string>FFFFFF</string>
				<key>key</key>
				<string>accentColour</string>
				<key>iconName</key>
				<string>colour</string>
				<key>defaults</key>
				<string>com.TitanD3v.NovaPrefs</string>
				<key>PostNotification</key>
				<string>com.TitanD3v.NovaPrefs.settingschanged</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>cellClass</key>
				<string>TDColourPickerCell</string>
				<key>title</key>
				<string>Navigation Bar</string>
				<key>subtitle</key>
				<string>Colour</string>
				<key>default</key>
				<string>FFFFFF</string>
				<key>key</key>
				<string>navbarColour</string>
				<key>iconName</key>
				<string>colour</string>
				<key>defaults</key>
				<string>com.TitanD3v.NovaPrefs</string>
				<key>PostNotification</key>
				<string>com.TitanD3v.NovaPrefs.settingschanged</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>cellClass</key>
				<string>TDColourPickerCell</string>
				<key>title</key>
				<string>Clock Icon</string>
				<key>subtitle</key>
				<string>Colour</string>
				<key>default</key>
				<string>FFFFFF</string>
				<key>key</key>
				<string>clockColour</string>
				<key>iconName</key>
				<string>colour</string>
				<key>defaults</key>
				<string>com.TitanD3v.NovaPrefs</string>
				<key>PostNotification</key>
				<string>com.TitanD3v.NovaPrefs.settingschanged</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>cellClass</key>
				<string>TDColourPickerCell</string>
				<key>title</key>
				<string>Checkmark Icon</string>
				<key>subtitle</key>
				<string>Colour</string>
				<key>default</key>
				<string>FFFFFF</string>
				<key>key</key>
				<string>checkmarkColour</string>
				<key>iconName</key>
				<string>colour</string>
				<key>defaults</key>
				<string>com.TitanD3v.NovaPrefs</string>
				<key>PostNotification</key>
				<string>com.TitanD3v.NovaPrefs.settingschanged</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>cellClass</key>
				<string>TDColourPickerCell</string>
				<key>title</key>
				<string>Floating Button</string>
				<key>subtitle</key>
				<string>Colour</string>
				<key>default</key>
				<string>FFFFFF</string>
				<key>key</key>
				<string>floatingButtonColour</string>
				<key>iconName</key>
				<string>colour</string>
				<key>defaults</key>
				<string>com.TitanD3v.NovaPrefs</string>
				<key>PostNotification</key>
				<string>com.TitanD3v.NovaPrefs.settingschanged</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>cellClass</key>
				<string>TDColourPickerCell</string>
				<key>title</key>
				<string>Floating Icon</string>
				<key>subtitle</key>
				<string>Colour</string>
				<key>default</key>
				<string>FFFFFF</string>
				<key>key</key>
				<string>floatingIconColour</string>
				<key>iconName</key>
				<string>colour</string>
				<key>defaults</key>
				<string>com.TitanD3v.NovaPrefs</string>
				<key>PostNotification</key>
				<string>com.TitanD3v.NovaPrefs.settingschanged</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>cellClass</key>
				<string>TDColourPickerCell</string>
				<key>title</key>
				<string>Your Bubble Font</string>
				<key>subtitle</key>
				<string>Colour</string>
				<key>default</key>
				<string>FFFFFF</string>
				<key>key</key>
				<string>bubbleFontColour</string>
				<key>iconName</key>
				<string>colour</string>
				<key>defaults</key>
				<string>com.TitanD3v.NovaPrefs</string>
				<key>PostNotification</key>
				<string>com.TitanD3v.NovaPrefs.settingschanged</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>cellClass</key>
				<string>TDColourPickerCell</string>
				<key>title</key>
				<string>Your Bubble</string>
				<key>subtitle</key>
				<string>Colour</string>
				<key>default</key>
				<string>FFFFFF</string>
				<key>key</key>
				<string>bubbleColour</string>
				<key>iconName</key>
				<string>colour</string>
				<key>defaults</key>
				<string>com.TitanD3v.NovaPrefs</string>
				<key>PostNotification</key>
				<string>com.TitanD3v.NovaPrefs.settingschanged</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>cellClass</key>
				<string>TDColourPickerCell</string>
				<key>title</key>
				<string>Recipient Bubble Font</string>
				<key>subtitle</key>
				<string>Colour</string>
				<key>default</key>
				<string>FFFFFF</string>
				<key>key</key>
				<string>recipientBubbleFontColour</string>
				<key>iconName</key>
				<string>colour</string>
				<key>defaults</key>
				<string>com.TitanD3v.NovaPrefs</string>
				<key>PostNotification</key>
				<string>com.TitanD3v.NovaPrefs.settingschanged</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>cellClass</key>
				<string>TDColourPickerCell</string>
				<key>title</key>
				<string>Recipient Bubble</string>
				<key>subtitle</key>
				<string>Colour</string>
				<key>default</key>
				<string>FFFFFF</string>
				<key>key</key>
				<string>recipientBubbleColour</string>
				<key>iconName</key>
				<string>colour</string>
				<key>defaults</key>
				<string>com.TitanD3v.NovaPrefs</string>
				<key>PostNotification</key>
				<string>com.TitanD3v.NovaPrefs.settingschanged</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>cellClass</key>
				<string>TDColourPickerCell</string>
				<key>title</key>
				<string>Remaining Time Font</string>
				<key>subtitle</key>
				<string>Colour</string>
				<key>default</key>
				<string>FFFFFF</string>
				<key>key</key>
				<string>remainingFontColour</string>
				<key>iconName</key>
				<string>colour</string>
				<key>defaults</key>
				<string>com.TitanD3v.NovaPrefs</string>
				<key>PostNotification</key>
				<string>com.TitanD3v.NovaPrefs.settingschanged</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>cellClass</key>
				<string>TDColourPickerCell</string>
				<key>title</key>
				<string>Separator Line</string>
				<key>subtitle</key>
				<string>Colour</string>
				<key>default</key>
				<string>FFFFFF</string>
				<key>key</key>
				<string>separatorColour</string>
				<key>iconName</key>
				<string>colour</string>
				<key>defaults</key>
				<string>com.TitanD3v.NovaPrefs</string>
				<key>PostNotification</key>
				<string>com.TitanD3v.NovaPrefs.settingschanged</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>cellClass</key>
				<string>TDColourPickerCell</string>
				<key>title</key>
				<string>Remaining Background</string>
				<key>subtitle</key>
				<string>Colour</string>
				<key>default</key>
				<string>FFFFFF</string>
				<key>key</key>
				<string>remainingBackgroundColour</string>
				<key>iconName</key>
				<string>colour</string>
				<key>defaults</key>
				<string>com.TitanD3v.NovaPrefs</string>
				<key>PostNotification</key>
				<string>com.TitanD3v.NovaPrefs.settingschanged</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>cellClass</key>
				<string>TDColourPickerCell</string>
				<key>title</key>
				<string>Sent Background</string>
				<key>subtitle</key>
				<string>Colour</string>
				<key>default</key>
				<string>FFFFFF</string>
				<key>key</key>
				<string>sentBackgroundColour</string>
				<key>iconName</key>
				<string>colour</string>
				<key>defaults</key>
				<string>com.TitanD3v.NovaPrefs</string>
				<key>PostNotification</key>
				<string>com.TitanD3v.NovaPrefs.settingschanged</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>cellClass</key>
				<string>TDColourPickerCell</string>
				<key>title</key>
				<string>Icons</string>
				<key>subtitle</key>
				<string>Colour</string>
				<key>default</key>
				<string>FFFFFF</string>
				<key>key</key>
				<string>iconColour</string>
				<key>iconName</key>
				<string>colour</string>
				<key>defaults</key>
				<string>com.TitanD3v.NovaPrefs</string>
				<key>PostNotification</key>
				<string>com.TitanD3v.NovaPrefs.settingschanged</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>cellClass</key>
				<string>TDColourPickerCell</string>
				<key>title</key>
				<string>Photo Button</string>
				<key>subtitle</key>
				<string>Colour</string>
				<key>default</key>
				<string>FFFFFF</string>
				<key>key</key>
				<string>photoButtonColour</string>
				<key>iconName</key>
				<string>colour</string>
				<key>defaults</key>
				<string>com.TitanD3v.NovaPrefs</string>
				<key>PostNotification</key>
				<string>com.TitanD3v.NovaPrefs.settingschanged</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>cellClass</key>
				<string>TDColourPickerCell</string>
				<key>title</key>
				<string>Tool Bar</string>
				<key>subtitle</key>
				<string>Colour</string>
				<key>default</key>
				<string>FFFFFF</string>
				<key>key</key>
				<string>toolbarColour</string>
				<key>iconName</key>
				<string>colour</string>
				<key>defaults</key>
				<string>com.TitanD3v.NovaPrefs</string>
				<key>PostNotification</key>
				<string>com.TitanD3v.NovaPrefs.settingschanged</string>
			</dict>	

		</array>
		<key>title</key>
		<string></string>
	</dict>
</plist>
