<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>

        <dict>
            <key>Date</key>
            <string>13th June 2021</string>
            <key>Version</key>
            <string>v1.3</string>
            <key>ChangelogDescription</key>
            <array>
                <string>Fixed licence when purchasing Nova</string>
            </array>
            <key>updateCategories</key>
            <array>
                <integer>1</integer>
            </array>
        </dict>

        <dict>
            <key>Date</key>
            <string>17th May 2021</string>
            <key>Version</key>
            <string>v1.2</string>
            <key>ChangelogDescription</key>
            <array>
                <string>Fixed update alert on springboard</string>
            </array>
            <key>updateCategories</key>
            <array>
                <integer>1</integer>
            </array>
        </dict>

        <dict>
            <key>Date</key>
            <string>17th May 2021</string>
            <key>Version</key>
            <string>v1.1</string>
            <key>ChangelogDescription</key>
            <array>
                <string>Fixed active schedule message avatar image content mode</string>
                <string>Now you can send up to 10 photos attachments</string>
                <string>You can add wallpaper background image to Nova's background</string>
            </array>
            <key>updateCategories</key>
            <array>
                <integer>1</integer>
                <integer>3</integer>
                <integer>3</integer>
            </array>
        </dict>

        <dict>
            <key>Date</key>
            <string>14th May 2021</string>
            <key>Version</key>
            <string>v1.0</string>
            <key>ChangelogDescription</key>
            <array>
                <string>Initial Release...</string>
            </array>
            <key>updateCategories</key>
            <array>
                <integer>0</integer>
            </array>
        </dict>
        
    </array>
</plist>