<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>items</key>
		<array>

			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>headerCellClass</key>
				<string>TDHeaderCell</string>
				<key>title</key>
				<string>Enable/Disable</string>
			</dict>

			<dict>
				<key>cellClass</key>
				<string>TDEnableCell</string>
				<key>default</key>
				<false/>
				<key>key</key>
				<string>togglePhoenix</string>
				<key>disabledTitle</key>
				<string>Disable Phoenix</string>
				<key>enabledTitle</key>
				<string>Enable Phoenix</string>
				<key>disabledColour</key>
				<string>B92F2F</string>
				<key>enabledColour</key>
				<string>43EB1F</string>
				<key>customIcon</key>
				<false/>
				<key>disabledIconPath</key>
				<string>Assets/example-icon.png</string>
				<key>enabledIconPath</key>
				<string>Assets/example-icon.png</string>
				<key>defaults</key>
				<string>com.TitanD3v.PhoenixPrefs</string>
				<key>PostNotification</key>
				<string>com.TitanD3v.PhoenixPrefs.settingschanged</string>
			</dict>
			
		</array>
		<key>title</key>
		<string></string>
	</dict>
</plist>
