<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        
        <dict>
            <key>colourName</key>
            <string>Black</string>
            <key>hexCode</key>
            <string>000000</string>
        </dict>
        
        <dict>
            <key>colourName</key>
            <string>Charcoal</string>
            <key>hexCode</key>
            <string>36454F</string>
        </dict>
        
        <dict>
            <key>colourName</key>
            <string>Jet Black</string>
            <key>hexCode</key>
            <string>343434</string>
        </dict>
        
        <dict>
            <key>colourName</key>
            <string>Licorice</string>
            <key>hexCode</key>
            <string>1B1212</string>
        </dict>
        
        <dict>
            <key>colourName</key>
            <string>Matte Black</string>
            <key>hexCode</key>
            <string>28282B</string>
        </dict>
        
        <dict>
            <key>colourName</key>
            <string>Onyx</string>
            <key>hexCode</key>
            <string>353935</string>
        </dict>

    </array>
</plist>
