<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        
        <dict>
            <key>primraryHexCode</key>
            <string>ff9a9e</string>
            <key>secondaryHexCode</key>
            <string>fad0c4</string>
        </dict>
        
        <dict>
            <key>primraryHexCode</key>
            <string>a18cd1</string>
            <key>secondaryHexCode</key>
            <string>fbc2eb</string>
        </dict>
        
        <dict>
            <key>primraryHexCode</key>
            <string>fad0c4</string>
            <key>secondaryHexCode</key>
            <string>ffd1ff</string>
        </dict>
        
        <dict>
            <key>primraryHexCode</key>
            <string>ffecd2</string>
            <key>secondaryHexCode</key>
            <string>fcb69f</string>
        </dict>
        
        <dict>
            <key>primraryHexCode</key>
            <string>FFFEFF</string>
            <key>secondaryHexCode</key>
            <string>D7FFFE</string>
        </dict>
        
        <dict>
            <key>primraryHexCode</key>
            <string>d299c2</string>
            <key>secondaryHexCode</key>
            <string>fef9d7</string>
        </dict>
        
        <dict>
            <key>primraryHexCode</key>
            <string>74ebd5</string>
            <key>secondaryHexCode</key>
            <string>9face6</string>
        </dict>
        
        <dict>
            <key>primraryHexCode</key>
            <string>6a85b6</string>
            <key>secondaryHexCode</key>
            <string>bac8e0</string>
        </dict>
        
        <dict>
            <key>primraryHexCode</key>
            <string>fdcbf1</string>
            <key>secondaryHexCode</key>
            <string>e6dee9</string>
        </dict>
        
        <dict>
            <key>primraryHexCode</key>
            <string>84fab0</string>
            <key>secondaryHexCode</key>
            <string>8fd3f4</string>
        </dict>
        
        <dict>
            <key>primraryHexCode</key>
            <string>a1c4fd</string>
            <key>secondaryHexCode</key>
            <string>c2e9fb</string>
        </dict>
        
        <dict>
            <key>primraryHexCode</key>
            <string>ff9a9e</string>
            <key>secondaryHexCode</key>
            <string>fecfef</string>
        </dict>
        
        <dict>
            <key>primraryHexCode</key>
            <string>accbee</string>
            <key>secondaryHexCode</key>
            <string>e7f0fd</string>
        </dict>
        
        <dict>
            <key>primraryHexCode</key>
            <string>4facfe</string>
            <key>secondaryHexCode</key>
            <string>00f2fe</string>
        </dict>
        
        <dict>
            <key>primraryHexCode</key>
            <string>667eea</string>
            <key>secondaryHexCode</key>
            <string>764ba2</string>
        </dict>
        
        <dict>
            <key>primraryHexCode</key>
            <string>2af598</string>
            <key>secondaryHexCode</key>
            <string>009efd</string>
        </dict>
        
        <dict>
            <key>primraryHexCode</key>
            <string>868f96</string>
            <key>secondaryHexCode</key>
            <string>596164</string>
        </dict>
        
        <dict>
            <key>primraryHexCode</key>
            <string>6a11cb</string>
            <key>secondaryHexCode</key>
            <string>2575fc</string>
        </dict>
        
        <dict>
            <key>primraryHexCode</key>
            <string>c471f5</string>
            <key>secondaryHexCode</key>
            <string>fa71cd</string>
        </dict>
        
        <dict>
            <key>primraryHexCode</key>
            <string>c79081</string>
            <key>secondaryHexCode</key>
            <string>dfa579</string>
        </dict>
        
        <dict>
            <key>primraryHexCode</key>
            <string>48c6ef</string>
            <key>secondaryHexCode</key>
            <string>6f86d6</string>
        </dict>
        
        <dict>
            <key>primraryHexCode</key>
            <string>ff758c</string>
            <key>secondaryHexCode</key>
            <string>ff7eb3</string>
        </dict>
        
        <dict>
            <key>primraryHexCode</key>
            <string>243949</string>
            <key>secondaryHexCode</key>
            <string>517fa4</string>
        </dict>
        
        <dict>
            <key>primraryHexCode</key>
            <string>c1dfc4</string>
            <key>secondaryHexCode</key>
            <string>deecdd</string>
        </dict>
        
        <dict>
            <key>primraryHexCode</key>
            <string>c71d6f</string>
            <key>secondaryHexCode</key>
            <string>d09693</string>
        </dict>
        
        <dict>
            <key>primraryHexCode</key>
            <string>e6b980</string>
            <key>secondaryHexCode</key>
            <string>eacda3</string>
        </dict>
        
        <dict>
            <key>primraryHexCode</key>
            <string>1e3c72</string>
            <key>secondaryHexCode</key>
            <string>2a5298</string>
        </dict>
        
        <dict>
            <key>primraryHexCode</key>
            <string>bdc2e8</string>
            <key>secondaryHexCode</key>
            <string>e6dee9</string>
        </dict>
        
        <dict>
            <key>primraryHexCode</key>
            <string>434343</string>
            <key>secondaryHexCode</key>
            <string>000000</string>
        </dict>
        
        <dict>
            <key>primraryHexCode</key>
            <string>abecd6</string>
            <key>secondaryHexCode</key>
            <string>fbed96</string>
        </dict>
        
        <dict>
            <key>primraryHexCode</key>
            <string>96deda</string>
            <key>secondaryHexCode</key>
            <string>50c9c3</string>
        </dict>
        
        <dict>
            <key>primraryHexCode</key>
            <string>a8caba</string>
            <key>secondaryHexCode</key>
            <string>5d4157</string>
        </dict>
        
        <dict>
            <key>primraryHexCode</key>
            <string>f77062</string>
            <key>secondaryHexCode</key>
            <string>fe5196</string>
        </dict>
        
        <dict>
            <key>primraryHexCode</key>
            <string>29323c</string>
            <key>secondaryHexCode</key>
            <string>485563</string>
        </dict>
        
        <dict>
            <key>primraryHexCode</key>
            <string>f794a4</string>
            <key>secondaryHexCode</key>
            <string>fdd6bd</string>
        </dict>
        
        <dict>
            <key>primraryHexCode</key>
            <string>dfe9f3</string>
            <key>secondaryHexCode</key>
            <string>ffffff</string>
        </dict>
        
        <dict>
            <key>primraryHexCode</key>
            <string>d7d2cc</string>
            <key>secondaryHexCode</key>
            <string>304352</string>
        </dict>
        
        <dict>
            <key>primraryHexCode</key>
            <string>ffafbd</string>
            <key>secondaryHexCode</key>
            <string>ffc3a0</string>
        </dict>
        
        <dict>
            <key>primraryHexCode</key>
            <string>2193b0</string>
            <key>secondaryHexCode</key>
            <string>6dd5ed</string>
        </dict>
        
        <dict>
            <key>primraryHexCode</key>
            <string>cc2b5e</string>
            <key>secondaryHexCode</key>
            <string>753a88</string>
        </dict>
        
        <dict>
            <key>primraryHexCode</key>
            <string>ee9ca7</string>
            <key>secondaryHexCode</key>
            <string>ffdde1</string>
        </dict>
        
        <dict>
            <key>primraryHexCode</key>
            <string>42275a</string>
            <key>secondaryHexCode</key>
            <string>734b6d</string>
        </dict>
        
        <dict>
            <key>primraryHexCode</key>
            <string>de6262</string>
            <key>secondaryHexCode</key>
            <string>ffb88c</string>
        </dict>
        
        <dict>
            <key>primraryHexCode</key>
            <string>a8ff78</string>
            <key>secondaryHexCode</key>
            <string>78ffd6</string>
        </dict>
        
        <dict>
            <key>primraryHexCode</key>
            <string>00F260</string>
            <key>secondaryHexCode</key>
            <string>0575E6</string>
        </dict>
        
        <dict>
            <key>primraryHexCode</key>
            <string>45a247</string>
            <key>secondaryHexCode</key>
            <string>283c86</string>
        </dict>
        
        <dict>
            <key>primraryHexCode</key>
            <string>67B26F</string>
            <key>secondaryHexCode</key>
            <string>4ca2cd</string>
        </dict>
        
        <dict>
            <key>primraryHexCode</key>
            <string>56ab2f</string>
            <key>secondaryHexCode</key>
            <string>a8e063</string>
        </dict>
        
        <dict>
            <key>primraryHexCode</key>
            <string>FDFC47</string>
            <key>secondaryHexCode</key>
            <string>24FE41</string>
        </dict>
        
        <dict>
            <key>primraryHexCode</key>
            <string>B3FFAB</string>
            <key>secondaryHexCode</key>
            <string>12FFF7</string>
        </dict>
        
        <dict>
            <key>primraryHexCode</key>
            <string>3CA55C</string>
            <key>secondaryHexCode</key>
            <string>B5AC49</string>
        </dict>
        
        <dict>
            <key>primraryHexCode</key>
            <string>f12711</string>
            <key>secondaryHexCode</key>
            <string>f5af19</string>
        </dict>
        
        <dict>
            <key>primraryHexCode</key>
            <string>544a7d</string>
            <key>secondaryHexCode</key>
            <string>ffd452</string>
        </dict>
        
        <dict>
            <key>primraryHexCode</key>
            <string>FDC830</string>
            <key>secondaryHexCode</key>
            <string>F37335</string>
        </dict>
        
        <dict>
            <key>primraryHexCode</key>
            <string>fc4a1a</string>
            <key>secondaryHexCode</key>
            <string>f7b733</string>
        </dict>
        
        <dict>
            <key>primraryHexCode</key>
            <string>F2994A</string>
            <key>secondaryHexCode</key>
            <string>F2C94C</string>
        </dict>
        
        <dict>
            <key>primraryHexCode</key>
            <string>f79d00</string>
            <key>secondaryHexCode</key>
            <string>64f38c</string>
        </dict>
        
        <dict>
            <key>primraryHexCode</key>
            <string>FF5F6D</string>
            <key>secondaryHexCode</key>
            <string>FFC371</string>
        </dict>
        
        <dict>
            <key>primraryHexCode</key>
            <string>4DA0B0</string>
            <key>secondaryHexCode</key>
            <string>D39D38</string>
        </dict>
        
        <dict>
            <key>primraryHexCode</key>
            <string>FEAC5E</string>
            <key>secondaryHexCode</key>
            <string>C779D0</string>
        </dict>
        
        <dict>
            <key>primraryHexCode</key>
            <string>CC95C0</string>
            <key>secondaryHexCode</key>
            <string>7AA1D2</string>
        </dict>
        
        <dict>
            <key>primraryHexCode</key>
            <string>FF416C</string>
            <key>secondaryHexCode</key>
            <string>FF4B2B</string>
        </dict>
        
        <dict>
            <key>primraryHexCode</key>
            <string>ff9966</string>
            <key>secondaryHexCode</key>
            <string>ff5e62</string>
        </dict>
        
        <dict>
            <key>primraryHexCode</key>
            <string>ff4b1f</string>
            <key>secondaryHexCode</key>
            <string>ff9068</string>
        </dict>
        
        <dict>
            <key>primraryHexCode</key>
            <string>34e89e</string>
            <key>secondaryHexCode</key>
            <string>0f3443</string>
        </dict>
        
        <dict>
            <key>primraryHexCode</key>
            <string>4facfe</string>
            <key>secondaryHexCode</key>
            <string>78ffd6</string>
        </dict>
   
    </array>
</plist>
