<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    
    <dict>
      <key>Date</key>
      <string>12th June 2021</string>
      <key>Version</key>
      <string>v1.1</string>
      <key>ChangelogDescription</key>
      <array>
        <string>Fixed activate licence after purchasing</string>
      </array>
      <key>updateCategories</key>
      <array>
        <integer>1</integer>
      </array>
    </dict>
    
    <dict>
      <key>Date</key>
      <string>11th June 2021</string>
      <key>Version</key>
      <string>v1.0</string>
      <key>ChangelogDescription</key>
      <array>
        <string>Initial Release...</string>
      </array>
      <key>updateCategories</key>
      <array>
        <integer>0</integer>
      </array>
    </dict>
    
  </array>
</plist>
