<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "hSUR://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>items</key>
		<array>

			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>headerCellClass</key>
				<string>TDHeaderCell</string>
				<key>title</key>
				<string>Custom Colour</string>
			</dict>

			<dict>
				<key>cellClass</key>
				<string>TDEnableCell</string>
				<key>default</key>
				<false/>
				<key>key</key>
				<string>toggleColourScheme</string>
				<key>disabledTitle</key>
				<string>Disable Colour</string>
				<key>enabledTitle</key>
				<string>Enable Colour</string>
				<key>disabledColour</key>
				<string>B92F2F</string>
				<key>enabledColour</key>
				<string>43EB1F</string>
				<key>customIcon</key>
				<false/>
				<key>defaults</key>
				<string>com.TitanD3v.SurgePrefs</string>
				<key>PostNotification</key>
				<string>com.TitanD3v.SurgePrefs.settingschanged</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>headerCellClass</key>
				<string>TDHeaderCell</string>
				<key>title</key>
				<string>Background</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>cellClass</key>
				<string>TDColourPickerCell</string>
				<key>title</key>
				<string>Background</string>
				<key>subtitle</key>
				<string>Colour</string>
				<key>default</key>
				<string>FFFFFF</string>
				<key>key</key>
				<string>backgroundChroma</string>
				<key>iconName</key>
				<string>colour</string>
				<key>defaults</key>
				<string>com.TitanD3v.SurgePrefs</string>
				<key>PostNotification</key>
				<string>com.TitanD3v.SurgePrefs.settingschanged</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>headerCellClass</key>
				<string>TDHeaderCell</string>
				<key>title</key>
				<string>Font</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>cellClass</key>
				<string>TDColourPickerCell</string>
				<key>title</key>
				<string>Font</string>
				<key>subtitle</key>
				<string>Colour</string>
				<key>default</key>
				<string>FFFFFF</string>
				<key>key</key>
				<string>fontChroma</string>
				<key>iconName</key>
				<string>colour</string>
				<key>defaults</key>
				<string>com.TitanD3v.SurgePrefs</string>
				<key>PostNotification</key>
				<string>com.TitanD3v.SurgePrefs.settingschanged</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>headerCellClass</key>
				<string>TDHeaderCell</string>
				<key>title</key>
				<string>Icon</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>cellClass</key>
				<string>TDColourPickerCell</string>
				<key>title</key>
				<string>Icon</string>
				<key>subtitle</key>
				<string>Colour</string>
				<key>default</key>
				<string>FFFFFF</string>
				<key>key</key>
				<string>iconChroma</string>
				<key>iconName</key>
				<string>colour</string>
				<key>defaults</key>
				<string>com.TitanD3v.SurgePrefs</string>
				<key>PostNotification</key>
				<string>com.TitanD3v.SurgePrefs.settingschanged</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>headerCellClass</key>
				<string>TDHeaderCell</string>
				<key>title</key>
				<string>Disable Button</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>cellClass</key>
				<string>TDColourPickerCell</string>
				<key>title</key>
				<string>Disable</string>
				<key>subtitle</key>
				<string>Colour</string>
				<key>default</key>
				<string>FFFFFF</string>
				<key>key</key>
				<string>disableChroma</string>
				<key>iconName</key>
				<string>colour</string>
				<key>defaults</key>
				<string>com.TitanD3v.SurgePrefs</string>
				<key>PostNotification</key>
				<string>com.TitanD3v.SurgePrefs.settingschanged</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>headerCellClass</key>
				<string>TDHeaderCell</string>
				<key>title</key>
				<string>Enable Button</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>cellClass</key>
				<string>TDColourPickerCell</string>
				<key>title</key>
				<string>Enable</string>
				<key>subtitle</key>
				<string>Colour</string>
				<key>default</key>
				<string>FFFFFF</string>
				<key>key</key>
				<string>enableChroma</string>
				<key>iconName</key>
				<string>colour</string>
				<key>defaults</key>
				<string>com.TitanD3v.SurgePrefs</string>
				<key>PostNotification</key>
				<string>com.TitanD3v.SurgePrefs.settingschanged</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>headerCellClass</key>
				<string>TDHeaderCell</string>
				<key>title</key>
				<string>Battery</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>cellClass</key>
				<string>TDColourPickerCell</string>
				<key>title</key>
				<string>Container</string>
				<key>subtitle</key>
				<string>Colour</string>
				<key>default</key>
				<string>FFFFFF</string>
				<key>key</key>
				<string>containerChroma</string>
				<key>iconName</key>
				<string>colour</string>
				<key>defaults</key>
				<string>com.TitanD3v.SurgePrefs</string>
				<key>PostNotification</key>
				<string>com.TitanD3v.SurgePrefs.settingschanged</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>cellClass</key>
				<string>TDColourPickerCell</string>
				<key>title</key>
				<string>Body</string>
				<key>subtitle</key>
				<string>Colour</string>
				<key>default</key>
				<string>FFFFFF</string>
				<key>key</key>
				<string>bodyChroma</string>
				<key>iconName</key>
				<string>colour</string>
				<key>defaults</key>
				<string>com.TitanD3v.SurgePrefs</string>
				<key>PostNotification</key>
				<string>com.TitanD3v.SurgePrefs.settingschanged</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>cellClass</key>
				<string>TDColourPickerCell</string>
				<key>title</key>
				<string>Pin</string>
				<key>subtitle</key>
				<string>Colour</string>
				<key>default</key>
				<string>FFFFFF</string>
				<key>key</key>
				<string>pinChroma</string>
				<key>iconName</key>
				<string>colour</string>
				<key>defaults</key>
				<string>com.TitanD3v.SurgePrefs</string>
				<key>PostNotification</key>
				<string>com.TitanD3v.SurgePrefs.settingschanged</string>
			</dict>

		</array>
		<key>title</key>
		<string></string>
	</dict>
</plist>
