Package: com.titand3v.palette
Name: Palette
Architecture: iphoneos-arm
Depends: mobilesubstrate, com.titand3v.libtitand3vuniversal
Version: 1.0
Section: Tweaks
Description: Add colours to your colelction 
Maintainer: TitanD3v <titand3veloper@gmail.com>
Author: TitanD3v <titand3veloper@gmail.com>
Depiction: https://titand3v.github.io/depictions/palette/index.html
Icon: https://titand3v.github.io/depictions/palette/assets/icon.png
