Package: com.titand3v.speedy
Name: Speedy
Architecture: iphoneos-arm
Depends: mobilesubstrate, com.titand3v.libtitand3vuniversal, firmware (>= 14.0)
Version: 1.0
Section: Tweaks
Description: Batch uninstall applications on SpringBoard via 3D Touch Menu
Maintainer: TitanD3v <titand3veloper@gmail.com>
Author: TitanD3v <titand3veloper@gmail.com>
Depiction: https://titand3v.github.io/depictions/speedy/index.html
Icon: https://titand3v.github.io/depictions/speedy/assets/icon.png
