Package: com.titand3v.phoenix
Name: Phoenix
Architecture: iphoneos-arm
Depends: mobilesubstrate, com.titand3v.libtitand3vuniversal (>= 1.8)
Version: 1.1
Section: Tweaks
Description: A redesign of the contact list for the Phone app
Maintainer: TitanD3v <titand3veloper@gmail.com>
Author: TitanD3v <titand3veloper@gmail.com>
Depiction: https://titand3v.github.io/depictions/phoenix/index.html
Icon: https://titand3v.github.io/depictions/phoenix/assets/icon.png
