<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>items</key>
		<array>

			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>headerCellClass</key>
				<string>TDHeaderCell</string>
				<key>title</key>
				<string>Enable/Disable Colour</string>
			</dict>

			<dict>
				<key>cellClass</key>
				<string>TDEnableCell</string>
				<key>default</key>
				<false/>
				<key>key</key>
				<string>toggleCustomColour</string>
				<key>disabledTitle</key>
				<string>Disable Colour</string>
				<key>enabledTitle</key>
				<string>Enable Colour</string>
				<key>disabledColour</key>
				<string>B92F2F</string>
				<key>enabledColour</key>
				<string>43EB1F</string>
				<key>customIcon</key>
				<false/>
				<key>defaults</key>
				<string>com.TitanD3v.iDevicesPrefs</string>
				<key>PostNotification</key>
				<string>com.TitanD3v.iDevicesPrefs.settingschanged</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>headerCellClass</key>
				<string>TDHeaderCell</string>
				<key>title</key>
				<string>Custom Colour</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>cellClass</key>
				<string>TDColourPickerCell</string>
				<key>title</key>
				<string>Cover Icon</string>
				<key>subtitle</key>
				<string>Colour</string>
				<key>default</key>
				<string>FFFFFF</string>
				<key>key</key>
				<string>coverIconColour</string>
				<key>iconName</key>
				<string>colour</string>
				<key>defaults</key>
				<string>com.TitanD3v.iDevicesPrefs</string>
				<key>PostNotification</key>
				<string>com.TitanD3v.iDevicesPrefs.settingschanged</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>cellClass</key>
				<string>TDColourPickerCell</string>
				<key>title</key>
				<string>Cover Title</string>
				<key>subtitle</key>
				<string>Colour</string>
				<key>default</key>
				<string>FFFFFF</string>
				<key>key</key>
				<string>coverTitleColour</string>
				<key>iconName</key>
				<string>colour</string>
				<key>defaults</key>
				<string>com.TitanD3v.iDevicesPrefs</string>
				<key>PostNotification</key>
				<string>com.TitanD3v.iDevicesPrefs.settingschanged</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>cellClass</key>
				<string>TDColourPickerCell</string>
				<key>title</key>
				<string>Accent</string>
				<key>subtitle</key>
				<string>Colour</string>
				<key>default</key>
				<string>FFFFFF</string>
				<key>key</key>
				<string>accentColour</string>
				<key>iconName</key>
				<string>colour</string>
				<key>defaults</key>
				<string>com.TitanD3v.iDevicesPrefs</string>
				<key>PostNotification</key>
				<string>com.TitanD3v.iDevicesPrefs.settingschanged</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>cellClass</key>
				<string>TDColourPickerCell</string>
				<key>title</key>
				<string>Background</string>
				<key>subtitle</key>
				<string>Colour</string>
				<key>default</key>
				<string>FFFFFF</string>
				<key>key</key>
				<string>backgroundColour</string>
				<key>iconName</key>
				<string>colour</string>
				<key>defaults</key>
				<string>com.TitanD3v.iDevicesPrefs</string>
				<key>PostNotification</key>
				<string>com.TitanD3v.iDevicesPrefs.settingschanged</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>cellClass</key>
				<string>TDColourPickerCell</string>
				<key>title</key>
				<string>Grabber</string>
				<key>subtitle</key>
				<string>Colour</string>
				<key>default</key>
				<string>FFFFFF</string>
				<key>key</key>
				<string>grabberColour</string>
				<key>iconName</key>
				<string>colour</string>
				<key>defaults</key>
				<string>com.TitanD3v.iDevicesPrefs</string>
				<key>PostNotification</key>
				<string>com.TitanD3v.iDevicesPrefs.settingschanged</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>cellClass</key>
				<string>TDColourPickerCell</string>
				<key>title</key>
				<string>Font</string>
				<key>subtitle</key>
				<string>Colour</string>
				<key>default</key>
				<string>FFFFFF</string>
				<key>key</key>
				<string>fontColour</string>
				<key>iconName</key>
				<string>colour</string>
				<key>defaults</key>
				<string>com.TitanD3v.iDevicesPrefs</string>
				<key>PostNotification</key>
				<string>com.TitanD3v.iDevicesPrefs.settingschanged</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>cellClass</key>
				<string>TDColourPickerCell</string>
				<key>title</key>
				<string>Secondary Font</string>
				<key>subtitle</key>
				<string>Colour</string>
				<key>default</key>
				<string>FFFFFF</string>
				<key>key</key>
				<string>secondaryFontColour</string>
				<key>iconName</key>
				<string>colour</string>
				<key>defaults</key>
				<string>com.TitanD3v.iDevicesPrefs</string>
				<key>PostNotification</key>
				<string>com.TitanD3v.iDevicesPrefs.settingschanged</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>cellClass</key>
				<string>TDColourPickerCell</string>
				<key>title</key>
				<string>Title Font</string>
				<key>subtitle</key>
				<string>Colour</string>
				<key>default</key>
				<string>FFFFFF</string>
				<key>key</key>
				<string>titleFontColour</string>
				<key>iconName</key>
				<string>colour</string>
				<key>defaults</key>
				<string>com.TitanD3v.iDevicesPrefs</string>
				<key>PostNotification</key>
				<string>com.TitanD3v.iDevicesPrefs.settingschanged</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>cellClass</key>
				<string>TDColourPickerCell</string>
				<key>title</key>
				<string>Subtitle Font</string>
				<key>subtitle</key>
				<string>Colour</string>
				<key>default</key>
				<string>FFFFFF</string>
				<key>key</key>
				<string>subtitleFontColour</string>
				<key>iconName</key>
				<string>colour</string>
				<key>defaults</key>
				<string>com.TitanD3v.iDevicesPrefs</string>
				<key>PostNotification</key>
				<string>com.TitanD3v.iDevicesPrefs.settingschanged</string>
			</dict>

            			<dict>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>cellClass</key>
				<string>TDColourPickerCell</string>
				<key>title</key>
				<string>Cell</string>
				<key>subtitle</key>
				<string>Colour</string>
				<key>default</key>
				<string>FFFFFF</string>
				<key>key</key>
				<string>cellColour</string>
				<key>iconName</key>
				<string>colour</string>
				<key>defaults</key>
				<string>com.TitanD3v.iDevicesPrefs</string>
				<key>PostNotification</key>
				<string>com.TitanD3v.iDevicesPrefs.settingschanged</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>cellClass</key>
				<string>TDColourPickerCell</string>
				<key>title</key>
				<string>Nav Bar Button</string>
				<key>subtitle</key>
				<string>Colour</string>
				<key>default</key>
				<string>FFFFFF</string>
				<key>key</key>
				<string>navBarButtonColour</string>
				<key>iconName</key>
				<string>colour</string>
				<key>defaults</key>
				<string>com.TitanD3v.iDevicesPrefs</string>
				<key>PostNotification</key>
				<string>com.TitanD3v.iDevicesPrefs.settingschanged</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>cellClass</key>
				<string>TDColourPickerCell</string>
				<key>title</key>
				<string>Backup Start Button</string>
				<key>subtitle</key>
				<string>Colour</string>
				<key>default</key>
				<string>FFFFFF</string>
				<key>key</key>
				<string>backupStartButtonColour</string>
				<key>iconName</key>
				<string>colour</string>
				<key>defaults</key>
				<string>com.TitanD3v.iDevicesPrefs</string>
				<key>PostNotification</key>
				<string>com.TitanD3v.iDevicesPrefs.settingschanged</string>
			</dict>

            <dict>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>cellClass</key>
				<string>TDColourPickerCell</string>
				<key>title</key>
				<string>Backup Cancel Button</string>
				<key>subtitle</key>
				<string>Colour</string>
				<key>default</key>
				<string>FFFFFF</string>
				<key>key</key>
				<string>backupCancelButtonColour</string>
				<key>iconName</key>
				<string>colour</string>
				<key>defaults</key>
				<string>com.TitanD3v.iDevicesPrefs</string>
				<key>PostNotification</key>
				<string>com.TitanD3v.iDevicesPrefs.settingschanged</string>
			</dict>

             <dict>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>cellClass</key>
				<string>TDColourPickerCell</string>
				<key>title</key>
				<string>Backup Progress</string>
				<key>subtitle</key>
				<string>Colour</string>
				<key>default</key>
				<string>FFFFFF</string>
				<key>key</key>
				<string>backupProgressColour</string>
				<key>iconName</key>
				<string>colour</string>
				<key>defaults</key>
				<string>com.TitanD3v.iDevicesPrefs</string>
				<key>PostNotification</key>
				<string>com.TitanD3v.iDevicesPrefs.settingschanged</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>cellClass</key>
				<string>TDColourPickerCell</string>
				<key>title</key>
				<string>Battery Ring</string>
				<key>subtitle</key>
				<string>Colour</string>
				<key>default</key>
				<string>FFFFFF</string>
				<key>key</key>
				<string>batteryRingColour</string>
				<key>iconName</key>
				<string>colour</string>
				<key>defaults</key>
				<string>com.TitanD3v.iDevicesPrefs</string>
				<key>PostNotification</key>
				<string>com.TitanD3v.iDevicesPrefs.settingschanged</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>cellClass</key>
				<string>TDColourPickerCell</string>
				<key>title</key>
				<string>Low Battery</string>
				<key>subtitle</key>
				<string>Colour</string>
				<key>default</key>
				<string>FFFFFF</string>
				<key>key</key>
				<string>batteryLowColour</string>
				<key>iconName</key>
				<string>colour</string>
				<key>defaults</key>
				<string>com.TitanD3v.iDevicesPrefs</string>
				<key>PostNotification</key>
				<string>com.TitanD3v.iDevicesPrefs.settingschanged</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>cellClass</key>
				<string>TDColourPickerCell</string>
				<key>title</key>
				<string>Normal Battery</string>
				<key>subtitle</key>
				<string>Colour</string>
				<key>default</key>
				<string>FFFFFF</string>
				<key>key</key>
				<string>batteryNormalColour</string>
				<key>iconName</key>
				<string>colour</string>
				<key>defaults</key>
				<string>com.TitanD3v.iDevicesPrefs</string>
				<key>PostNotification</key>
				<string>com.TitanD3v.iDevicesPrefs.settingschanged</string>
			</dict>


			<dict>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>cellClass</key>
				<string>TDColourPickerCell</string>
				<key>title</key>
				<string>Total RAM</string>
				<key>subtitle</key>
				<string>Colour</string>
				<key>default</key>
				<string>FFFFFF</string>
				<key>key</key>
				<string>totalRamColour</string>
				<key>iconName</key>
				<string>colour</string>
				<key>defaults</key>
				<string>com.TitanD3v.iDevicesPrefs</string>
				<key>PostNotification</key>
				<string>com.TitanD3v.iDevicesPrefs.settingschanged</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>cellClass</key>
				<string>TDColourPickerCell</string>
				<key>title</key>
				<string>Free RAM</string>
				<key>subtitle</key>
				<string>Colour</string>
				<key>default</key>
				<string>FFFFFF</string>
				<key>key</key>
				<string>freeRamColour</string>
				<key>iconName</key>
				<string>colour</string>
				<key>defaults</key>
				<string>com.TitanD3v.iDevicesPrefs</string>
				<key>PostNotification</key>
				<string>com.TitanD3v.iDevicesPrefs.settingschanged</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>cellClass</key>
				<string>TDColourPickerCell</string>
				<key>title</key>
				<string>Used RAM</string>
				<key>subtitle</key>
				<string>Colour</string>
				<key>default</key>
				<string>FFFFFF</string>
				<key>key</key>
				<string>usedRamColour</string>
				<key>iconName</key>
				<string>colour</string>
				<key>defaults</key>
				<string>com.TitanD3v.iDevicesPrefs</string>
				<key>PostNotification</key>
				<string>com.TitanD3v.iDevicesPrefs.settingschanged</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>cellClass</key>
				<string>TDColourPickerCell</string>
				<key>title</key>
				<string>Red</string>
				<key>subtitle</key>
				<string>Colour</string>
				<key>default</key>
				<string>FFFFFF</string>
				<key>key</key>
				<string>redColour</string>
				<key>iconName</key>
				<string>colour</string>
				<key>defaults</key>
				<string>com.TitanD3v.iDevicesPrefs</string>
				<key>PostNotification</key>
				<string>com.TitanD3v.iDevicesPrefs.settingschanged</string>
			</dict>

            			<dict>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>cellClass</key>
				<string>TDColourPickerCell</string>
				<key>title</key>
				<string>Orange</string>
				<key>subtitle</key>
				<string>Colour</string>
				<key>default</key>
				<string>FFFFFF</string>
				<key>key</key>
				<string>orangeColour</string>
				<key>iconName</key>
				<string>colour</string>
				<key>defaults</key>
				<string>com.TitanD3v.iDevicesPrefs</string>
				<key>PostNotification</key>
				<string>com.TitanD3v.iDevicesPrefs.settingschanged</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>cellClass</key>
				<string>TDColourPickerCell</string>
				<key>title</key>
				<string>Yellow</string>
				<key>subtitle</key>
				<string>Colour</string>
				<key>default</key>
				<string>FFFFFF</string>
				<key>key</key>
				<string>yellowColour</string>
				<key>iconName</key>
				<string>colour</string>
				<key>defaults</key>
				<string>com.TitanD3v.iDevicesPrefs</string>
				<key>PostNotification</key>
				<string>com.TitanD3v.iDevicesPrefs.settingschanged</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>cellClass</key>
				<string>TDColourPickerCell</string>
				<key>title</key>
				<string>Green</string>
				<key>subtitle</key>
				<string>Colour</string>
				<key>default</key>
				<string>FFFFFF</string>
				<key>key</key>
				<string>greenColour</string>
				<key>iconName</key>
				<string>colour</string>
				<key>defaults</key>
				<string>com.TitanD3v.iDevicesPrefs</string>
				<key>PostNotification</key>
				<string>com.TitanD3v.iDevicesPrefs.settingschanged</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>cellClass</key>
				<string>TDColourPickerCell</string>
				<key>title</key>
				<string>Teal</string>
				<key>subtitle</key>
				<string>Colour</string>
				<key>default</key>
				<string>FFFFFF</string>
				<key>key</key>
				<string>tealColour</string>
				<key>iconName</key>
				<string>colour</string>
				<key>defaults</key>
				<string>com.TitanD3v.iDevicesPrefs</string>
				<key>PostNotification</key>
				<string>com.TitanD3v.iDevicesPrefs.settingschanged</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>cellClass</key>
				<string>TDColourPickerCell</string>
				<key>title</key>
				<string>Indigo</string>
				<key>subtitle</key>
				<string>Colour</string>
				<key>default</key>
				<string>FFFFFF</string>
				<key>key</key>
				<string>indigoColour</string>
				<key>iconName</key>
				<string>colour</string>
				<key>defaults</key>
				<string>com.TitanD3v.iDevicesPrefs</string>
				<key>PostNotification</key>
				<string>com.TitanD3v.iDevicesPrefs.settingschanged</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>cellClass</key>
				<string>TDColourPickerCell</string>
				<key>title</key>
				<string>Pink</string>
				<key>subtitle</key>
				<string>Colour</string>
				<key>default</key>
				<string>FFFFFF</string>
				<key>key</key>
				<string>pinkColour</string>
				<key>iconName</key>
				<string>colour</string>
				<key>defaults</key>
				<string>com.TitanD3v.iDevicesPrefs</string>
				<key>PostNotification</key>
				<string>com.TitanD3v.iDevicesPrefs.settingschanged</string>
			</dict>

		</array>
		<key>title</key>
		<string></string>
	</dict>
</plist>
