Package: com.titand3v.substia
Name: Substia
Architecture: iphoneos-arm
Depends: mobilesubstrate, com.titand3v.libtitand3vuniversal
Version: 1.0
Section: Tweaks
Description: Text replacement
Maintainer: TitanD3v <titand3veloper@gmail.com>
Author: TitanD3v <titand3veloper@gmail.com>
Depiction: https://titand3v.github.io/depictions/substia/index.html
Icon: https://titand3v.github.io/depictions/substia/assets/icon.png
