<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>

        <dict>
            <key>Date</key>
            <string>13th June 2021</string>
            <key>Version</key>
            <string>v1.1</string>
            <key>ChangelogDescription</key>
            <array>
                <string>Added long press on Luv button to hide it and shake your device to unhide it.</string>
            </array>
            <key>updateCategories</key>
            <array>
                <integer>3</integer>
            </array>
        </dict>

        <dict>
            <key>Date</key>
            <string>26th May 2021</string>
            <key>Version</key>
            <string>v1.0</string>
            <key>ChangelogDescription</key>
            <array>
                <string>Initial Release...</string>
            </array>
            <key>updateCategories</key>
            <array>
                <integer>0</integer>
            </array>
        </dict>
        
    </array>
</plist>