<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>items</key>
		<array>

			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>headerCellClass</key>
				<string>TDHeaderCell</string>
				<key>title</key>
				<string>Stausbar</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>cellClass</key>
				<string>TDSwitchCell</string>
				<key>default</key>
				<true/>
				<key>key</key>
				<string>toggleStatusbarGesture</string>
				<key>title</key>
				<string>Enable</string>
				<key>subtitle</key>
				<string>Double tap</string>
				<key>iconName</key>
				<string>switch</string>
				<key>showTips</key>
				<false/>
				<key>defaults</key>
				<string>com.TitanD3v.BreezyPrefs</string>
				<key>PostNotification</key>
				<string>com.TitanD3v.BreezyPrefs.settingschanged</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>headerCellClass</key>
				<string>TDHeaderCell</string>
				<key>title</key>
				<string>Dock</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>cellClass</key>
				<string>TDSwitchCell</string>
				<key>default</key>
				<false/>
				<key>key</key>
				<string>toggleDockGesture</string>
				<key>title</key>
				<string>Enable</string>
				<key>subtitle</key>
				<string>Double tap</string>
				<key>iconName</key>
				<string>switch</string>
				<key>showTips</key>
				<false/>
				<key>defaults</key>
				<string>com.TitanD3v.BreezyPrefs</string>
				<key>PostNotification</key>
				<string>com.TitanD3v.BreezyPrefs.settingschanged</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>headerCellClass</key>
				<string>TDHeaderCell</string>
				<key>title</key>
				<string>Volume</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>cellClass</key>
				<string>TDSwitchCell</string>
				<key>default</key>
				<false/>
				<key>key</key>
				<string>toggleVolumeUpGesture</string>
				<key>title</key>
				<string>Enable</string>
				<key>subtitle</key>
				<string>Volume Up Button</string>
				<key>iconName</key>
				<string>switch</string>
				<key>showTips</key>
				<false/>
				<key>defaults</key>
				<string>com.TitanD3v.BreezyPrefs</string>
				<key>PostNotification</key>
				<string>com.TitanD3v.BreezyPrefs.settingschanged</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>cellClass</key>
				<string>TDSwitchCell</string>
				<key>default</key>
				<false/>
				<key>key</key>
				<string>toggleVolumeDownGesture</string>
				<key>title</key>
				<string>Enable</string>
				<key>subtitle</key>
				<string>Volume Down Button</string>
				<key>iconName</key>
				<string>switch</string>
				<key>showTips</key>
				<false/>
				<key>defaults</key>
				<string>com.TitanD3v.BreezyPrefs</string>
				<key>PostNotification</key>
				<string>com.TitanD3v.BreezyPrefs.settingschanged</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>headerCellClass</key>
				<string>TDHeaderCell</string>
				<key>title</key>
				<string>Shake</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>cellClass</key>
				<string>TDSwitchCell</string>
				<key>default</key>
				<false/>
				<key>key</key>
				<string>toggleShakeGesture</string>
				<key>title</key>
				<string>Enable</string>
				<key>subtitle</key>
				<string>Shake Motion</string>
				<key>iconName</key>
				<string>switch</string>
				<key>showTips</key>
				<false/>
				<key>defaults</key>
				<string>com.TitanD3v.BreezyPrefs</string>
				<key>PostNotification</key>
				<string>com.TitanD3v.BreezyPrefs.settingschanged</string>
			</dict>

		</array>
		<key>title</key>
		<string></string>
	</dict>
</plist>
