<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>items</key>
		<array>

			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>headerCellClass</key>
				<string>TDHeaderCell</string>
				<key>title</key>
				<string>Enable/Disable</string>
			</dict>

			<dict>
				<key>cellClass</key>
				<string>TDEnableCell</string>
				<key>default</key>
				<false/>
				<key>key</key>
				<string>toggleBreezy</string>
				<key>disabledTitle</key>
				<string>Disable Breezy</string>
				<key>enabledTitle</key>
				<string>Enable Breezy</string>
				<key>disabledColour</key>
				<string>B92F2F</string>
				<key>enabledColour</key>
				<string>43EB1F</string>
				<key>customIcon</key>
				<false/>
				<key>disabledIconPath</key>
				<string>Assets/example-icon.png</string>
				<key>enabledIconPath</key>
				<string>Assets/example-icon.png</string>
				<key>defaults</key>
				<string>com.TitanD3v.BreezyPrefs</string>
				<key>PostNotification</key>
				<string>com.TitanD3v.BreezyPrefs.settingschanged</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>headerCellClass</key>
				<string>TDHeaderCell</string>
				<key>title</key>
				<string>Title</string>
			</dict>

			<dict>
				<key>cellClass</key>
				<string>TDEditCell</string>
				<key>title</key>
				<string>Set</string>
				<key>subtitle</key>
				<string>Title</string>
				<key>objectKey</key>
				<string>breezyTitle</string>
				<key>placeholderText</key>
				<string>Hello</string>
				<key>default</key>
				<string>Hello</string>
				<key>iconName</key>
				<string>edit</string>
				<key>keyboardType</key>
				<string>keyboard</string>
				<key>defaults</key>
				<string>com.TitanD3v.BreezyPrefs</string>
				<key>PostNotification</key>
				<string>com.TitanD3v.BreezyPrefs.settingschanged</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>headerCellClass</key>
				<string>TDHeaderCell</string>
				<key>title</key>
				<string>Message</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSDefaultCell</string>
				<key>cellClass</key>
				<string>TDTextViewCell</string>
				<key>title</key>
				<string>Set Message</string>
				<key>key</key>
				<string>breezyMessage</string>
				<key>default</key>
				<string>How are you?</string>
				<key>iconName</key>
				<string>textview</string>
				<key>defaults</key>
				<string>com.TitanD3v.BreezyPrefs</string>
				<key>PostNotification</key>
				<string>com.TitanD3v.BreezyPrefs.settingschanged</string>
				<key>height</key>
				<integer>130</integer>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>headerCellClass</key>
				<string>TDHeaderCell</string>
				<key>title</key>
				<string>App</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>cellClass</key>
				<string>TDAppLinkCell</string>
				<key>detail</key>
				<string>TDAppListController</string>
				<key>isController</key>
				<true/>
				<key>title</key>
				<string>Choose app</string>
				<key>subtitle</key>
				<string>To show notification from</string>
				<key>key</key>
				<string>notificationBundleID</string>
				<key>appList</key>
				<string>allapps</string>
				<key>limitApps</key>
				<true/>
				<key>appsCapacity</key>
				<integer>1</integer>
				<key>iconName</key>
				<string>applist</string>
				<key>defaults</key>
				<string>com.TitanD3v.BreezyPrefs</string>
				<key>postNotification</key>
				<string>com.TitanD3v.BreezyPrefs.settingschanged</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>headerCellClass</key>
				<string>TDHeaderCell</string>
				<key>title</key>
				<string>Gesture</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>cellClass</key>
				<string>TDLinkCell</string>
				<key>detail</key>
				<string>BZYGestureController</string>
				<key>isController</key>
				<true/>
				<key>title</key>
				<string>Choose</string>
				<key>subtitle</key>
				<string>Gesture recognizer</string>
				<key>iconName</key>
				<string>button</string>
			</dict>

		</array>
		<key>title</key>
		<string></string>
	</dict>
</plist>
