Package: com.titand3v.nova
Name: Nova
Architecture: iphoneos-arm
Depends: mobilesubstrate, com.titand3v.libtitand3vuniversal, com.rpetrich.rocketbootstrap (>= 1.0.2)
Version: 1.3
Section: Tweaks
Description: Schedule messages for Message app
Maintainer: TitanD3v <titand3veloper@gmail.com>
Author: TitanD3v <titand3veloper@gmail.com>
Depiction: https://titand3v.github.io/depictions/nova/index.html
Icon: https://titand3v.github.io/depictions/nova/assets/icon.png
