<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>

        <dict>
            <key>Date</key>
            <string>15th November 2021</string>
            <key>Version</key>
            <string>v1.1</string>
            <key>ChangelogDescription</key>
            <array>
                <string>Added toggle switch in the settings from the Phone app to hide phone number and email address for the contacts list</string>
                <string>Added # for the index to show contacts that saved by number instead of names</string>
                <string>Fixed index and search bugs</string>
            </array>
            <key>updateCategories</key>
            <array>
                <integer>3</integer>
                <integer>3</integer>
                <integer>1</integer>
            </array>
        </dict>

        <dict>
            <key>Date</key>
            <string>13th November 2021</string>
            <key>Version</key>
            <string>v1.0</string>
            <key>ChangelogDescription</key>
            <array>
                <string>Initial Release...</string>
            </array>
            <key>updateCategories</key>
            <array>
                <integer>0</integer>
            </array>
        </dict>
        
    </array>
</plist>
