<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>items</key>
		<array>

			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>headerCellClass</key>
				<string>TDHeaderCell</string>
				<key>title</key>
				<string>Wallpaper</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>cellClass</key>
				<string>TDSwitchCell</string>
				<key>default</key>
				<false/>
				<key>key</key>
				<string>toggleWallpaper</string>
				<key>title</key>
				<string>Enable</string>
				<key>subtitle</key>
				<string>Background Wallpaper</string>
				<key>iconName</key>
				<string>switch</string>
				<key>showTips</key>
				<false/>
				<key>tipsTitle</key>
				<string>Example Title</string>
				<key>tipsMessage</key>
				<string>This is an example banner.</string>
				<key>tipsImageStyle</key>
				<integer>1</integer>
				<key>tipsImage</key>
				<string>Assets/example-banner.png</string>
				<key>defaults</key>
				<string>com.TitanD3v.NovaPrefs</string>
				<key>PostNotification</key>
				<string>com.TitanD3v.NovaPrefs.settingschanged</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>cellClass</key>
				<string>TDImagePickerCell</string>
				<key>title</key>
				<string>Wallpaper</string>
				<key>subtitle</key>
				<string>Image</string>
				<key>action</key>
				<string>chooseImage</string>
				<key>key</key>
				<string>wallpaperImage</string>
				<key>usesJPEG</key>
				<true/>
				<key>compressionQuality</key>
				<real>0.8</real>
				<key>iconName</key>
				<string>photo</string>
				<key>defaults</key>
				<string>com.TitanD3v.NovaPrefs</string>
				<key>PostNotification</key>
				<string>com.TitanD3v.NovaPrefs.settingschanged</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>headerCellClass</key>
				<string>TDHeaderCell</string>
				<key>title</key>
				<string>Hide Floating Button</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>cellClass</key>
				<string>TDSwitchCell</string>
				<key>default</key>
				<true/>
				<key>key</key>
				<string>toggleHideFloatingButton</string>
				<key>title</key>
				<string>Floating Button</string>
				<key>subtitle</key>
				<string>Hide when scrolling down</string>
				<key>iconName</key>
				<string>switch</string>
				<key>showTips</key>
				<false/>
				<key>tipsTitle</key>
				<string>Example Title</string>
				<key>tipsMessage</key>
				<string>This is an example banner.</string>
				<key>tipsImageStyle</key>
				<integer>1</integer>
				<key>tipsImage</key>
				<string>Assets/example-banner.png</string>
				<key>defaults</key>
				<string>com.TitanD3v.NovaPrefs</string>
				<key>PostNotification</key>
				<string>com.TitanD3v.NovaPrefs.settingschanged</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>headerCellClass</key>
				<string>TDHeaderCell</string>
				<key>title</key>
				<string>Alignment</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSSegmentCell</string>
				<key>cellClass</key>
				<string>TDSegmentCell</string>
				<key>key</key>
				<string>floatingButtonAlignment</string>
				<key>default</key>
				<string>3</string>
				<key>validTitles</key>
				<array>
					<string>Left</string>
					<string>Center</string>
					<string>Right</string>
				</array>
				<key>validValues</key>
				<array>
					<integer>1</integer>
					<integer>2</integer>
					<integer>3</integer>
				</array>
				<key>title</key>
				<string>Floating button alignment</string>
				<key>showTips</key>
				<false/>
				<key>defaults</key>
				<string>com.TitanD3v.NovaPrefs</string>
				<key>PostNotification</key>
				<string>com.TitanD3v.NovaPrefs.settingschanged</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>headerCellClass</key>
				<string>TDHeaderCell</string>
				<key>title</key>
				<string>Haptic</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>cellClass</key>
				<string>TDSwitchCell</string>
				<key>default</key>
				<true/>
				<key>key</key>
				<string>toggleHaptic</string>
				<key>title</key>
				<string>Enable</string>
				<key>subtitle</key>
				<string>Haptic Feedback</string>
				<key>iconName</key>
				<string>switch</string>
				<key>showTips</key>
				<false/>
				<key>defaults</key>
				<string>com.TitanD3v.NovaPrefs</string>
				<key>PostNotification</key>
				<string>com.TitanD3v.NovaPrefs.settingschanged</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSSegmentCell</string>
				<key>cellClass</key>
				<string>TDSegmentCell</string>
				<key>key</key>
				<string>hapticStrength</string>
				<key>default</key>
				<string>0</string>
				<key>validTitles</key>
				<array>
					<string>Light</string>
					<string>Medium</string>
					<string>Heavy</string>
				</array>
				<key>validValues</key>
				<array>
					<integer>0</integer>
					<integer>1</integer>
					<integer>2</integer>
				</array>
				<key>title</key>
				<string>Type</string>
				<key>showTips</key>
				<false/>
				<key>defaults</key>
				<string>com.TitanD3v.NovaPrefs</string>
				<key>PostNotification</key>
				<string>com.TitanD3v.NovaPrefs.settingschanged</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>headerCellClass</key>
				<string>TDHeaderCell</string>
				<key>title</key>
				<string>Smart Airplane Mode</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>cellClass</key>
				<string>TDSwitchCell</string>
				<key>default</key>
				<true/>
				<key>key</key>
				<string>toggleSmartAirplaneMode</string>
				<key>title</key>
				<string>Enable</string>
				<key>subtitle</key>
				<string>Smart Airplane Mode</string>
				<key>iconName</key>
				<string>switch</string>
				<key>showTips</key>
				<true/>
				<key>tipsTitle</key>
				<string>Smart Airplane Mode</string>
				<key>tipsMessage</key>
				<string>If your airplane mode is enabled before your schedule message are due to send to recipient, it will disable airplane mode for couple of minutes to send the message then enable airplane mode again after sent the message.</string>
				<key>tipsImageStyle</key>
				<integer>0</integer>
				<key>tipsImage</key>
				<string>airplane</string>
				<key>defaults</key>
				<string>com.TitanD3v.NovaPrefs</string>
				<key>PostNotification</key>
				<string>com.TitanD3v.NovaPrefs.settingschanged</string>
			</dict>	

		</array>
		<key>title</key>
		<string></string>
	</dict>
</plist>
