Package: com.titand3v.surge
Name: Surge
Architecture: iphoneos-arm
Depends: mobilesubstrate, com.titand3v.libtitand3vuniversal
Version: 1.1
Section: Tweaks
Description: Low Power alert
Maintainer: TitanD3v <titand3veloper@gmail.com>
Author: TitanD3v <titand3veloper@gmail.com>
Depiction: https://titand3v.github.io/depictions/surge/index.html
Icon: https://titand3v.github.io/depictions/surge/assets/icon.png
