Package: com.titand3v.digitnetic
Name: Digitnetic
Architecture: iphoneos-arm
Depends: mobilesubstrate, com.titand3v.libtitand3vuniversal, libactivator
Version: 1.1
Section: Tweaks
Description: Floating phone keypad and calculator
Maintainer: TitanD3v <titand3veloper@gmail.com>
Author: TitanD3v <titand3veloper@gmail.com>
Depiction: https://titand3v.github.io/depictions/digitnetic/index.html
Icon: https://titand3v.github.io/depictions/digitnetic/assets/icon.png
