<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        
        <dict>
            <key>colourName</key>
            <string>Amaranth</string>
            <key>hexCode</key>
            <string>9F2B68</string>
        </dict>
        
        <dict>
            <key>colourName</key>
            <string>Bisque</string>
            <key>hexCode</key>
            <string>F2D2BD</string>
        </dict>
        
        <dict>
            <key>colourName</key>
            <string>Cerise</string>
            <key>hexCode</key>
            <string>DE3163</string>
        </dict>
        
        <dict>
            <key>colourName</key>
            <string>Claret</string>
            <key>hexCode</key>
            <string>811331</string>
        </dict>
        
        <dict>
            <key>colourName</key>
            <string>Coral Pink</string>
            <key>hexCode</key>
            <string>F88379</string>
        </dict>
        
        <dict>
            <key>colourName</key>
            <string>Crimson</string>
            <key>hexCode</key>
            <string>DC143C</string>
        </dict>
        
        <dict>
            <key>colourName</key>
            <string>Dark Pink</string>
            <key>hexCode</key>
            <string>AA336A</string>
        </dict>
        
        <dict>
            <key>colourName</key>
            <string>Dusty Rose</string>
            <key>hexCode</key>
            <string>C9A9A6</string>
        </dict>
        
        <dict>
            <key>colourName</key>
            <string>Fuchsia</string>
            <key>hexCode</key>
            <string>FF00FF</string>
        </dict>
        
        <dict>
            <key>colourName</key>
            <string>Hot Pink</string>
            <key>hexCode</key>
            <string>FF69B4</string>
        </dict>
        
        <dict>
            <key>colourName</key>
            <string>Light Pink</string>
            <key>hexCode</key>
            <string>FFB6C1</string>
        </dict>
        
        <dict>
            <key>colourName</key>
            <string>Magenta</string>
            <key>hexCode</key>
            <string>FF00FF</string>
        </dict>
        
        <dict>
            <key>colourName</key>
            <string>Millennial Pink</string>
            <key>hexCode</key>
            <string>F3CFC6</string>
        </dict>
        
        <dict>
            <key>colourName</key>
            <string>Mulberry</string>
            <key>hexCode</key>
            <string>770737</string>
        </dict>
        
        <dict>
            <key>colourName</key>
            <string>Neon Pink</string>
            <key>hexCode</key>
            <string>FF10F0</string>
        </dict>
        
        <dict>
            <key>colourName</key>
            <string>Orchid</string>
            <key>hexCode</key>
            <string>DA70D6</string>
        </dict>
        
        <dict>
            <key>colourName</key>
            <string>Pastel Pink</string>
            <key>hexCode</key>
            <string>F8C8DC</string>
        </dict>
        
        <dict>
            <key>colourName</key>
            <string>Pastel Red</string>
            <key>hexCode</key>
            <string>FAA0A0</string>
        </dict>
        
        <dict>
            <key>colourName</key>
            <string>Pink</string>
            <key>hexCode</key>
            <string>FFC0CB</string>
        </dict>
        
        <dict>
            <key>colourName</key>
            <string>Pink Orange</string>
            <key>hexCode</key>
            <string>F89880</string>
        </dict>
        
        <dict>
            <key>colourName</key>
            <string>Plum</string>
            <key>hexCode</key>
            <string>673147</string>
        </dict>
        
        <dict>
            <key>colourName</key>
            <string>Puce</string>
            <key>hexCode</key>
            <string>A95C68</string>
        </dict>
        
        <dict>
            <key>colourName</key>
            <string>Raspberry</string>
            <key>hexCode</key>
            <string>E30B5C</string>
        </dict>
        
        <dict>
            <key>colourName</key>
            <string>Red Purple</string>
            <key>hexCode</key>
            <string>953553</string>
        </dict>
        
        <dict>
            <key>colourName</key>
            <string>Rose</string>
            <key>hexCode</key>
            <string>F33A6A</string>
        </dict>
        
        <dict>
            <key>colourName</key>
            <string>Rose Gold</string>
            <key>hexCode</key>
            <string>E0BFB8</string>
        </dict>
        
        <dict>
            <key>colourName</key>
            <string>Rose Red</string>
            <key>hexCode</key>
            <string>C21E56</string>
        </dict>
        
        <dict>
            <key>colourName</key>
            <string>Ruby Red</string>
            <key>hexCode</key>
            <string>E0115F</string>
        </dict>
        
        <dict>
            <key>colourName</key>
            <string>Salmon</string>
            <key>hexCode</key>
            <string>FA8072</string>
        </dict>
        
        <dict>
            <key>colourName</key>
            <string>Seashell</string>
            <key>hexCode</key>
            <string>FFF5EE</string>
        </dict>
        
        <dict>
            <key>colourName</key>
            <string>Thistle</string>
            <key>hexCode</key>
            <string>D8BFD8</string>
        </dict>
        
        <dict>
            <key>colourName</key>
            <string>Watermelon Pink</string>
            <key>hexCode</key>
            <string>E37383</string>
        </dict>
        
    </array>
</plist>
