<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        
        <dict>
            <key>colourName</key>
            <string>Alabaster</string>
            <key>hexCode</key>
            <string>EDEADE</string>
        </dict>
        
        <dict>
            <key>colourName</key>
            <string>Beige</string>
            <key>hexCode</key>
            <string>F5F5DC</string>
        </dict>
        
        <dict>
            <key>colourName</key>
            <string>Bone White</string>
            <key>hexCode</key>
            <string>F9F6EE</string>
        </dict>
        
        <dict>
            <key>colourName</key>
            <string>Cornsilk</string>
            <key>hexCode</key>
            <string>FFF8DC</string>
        </dict>
        
        <dict>
            <key>colourName</key>
            <string>Cream</string>
            <key>hexCode</key>
            <string>FFFDD0</string>
        </dict>
        
        <dict>
            <key>colourName</key>
            <string>Eggshell</string>
            <key>hexCode</key>
            <string>F0EAD6</string>
        </dict>
        
        <dict>
            <key>colourName</key>
            <string>Ivory</string>
            <key>hexCode</key>
            <string>FFFFF0</string>
        </dict>
        
        <dict>
            <key>colourName</key>
            <string>Linen</string>
            <key>hexCode</key>
            <string>E9DCC9</string>
        </dict>
        
        <dict>
            <key>colourName</key>
            <string>Off White</string>
            <key>hexCode</key>
            <string>FAF9F6</string>
        </dict>
        
        <dict>
            <key>colourName</key>
            <string>Parchment</string>
            <key>hexCode</key>
            <string>FCF5E5</string>
        </dict>
        
        <dict>
            <key>colourName</key>
            <string>Peach</string>
            <key>hexCode</key>
            <string>FFE5B4</string>
        </dict>
        
        <dict>
            <key>colourName</key>
            <string>Pearl</string>
            <key>hexCode</key>
            <string>E2DFD2</string>
        </dict>
        
        <dict>
            <key>colourName</key>
            <string>Seashell</string>
            <key>hexCode</key>
            <string>FFF5EE</string>
        </dict>
        
        <dict>
            <key>colourName</key>
            <string>Vanilla</string>
            <key>hexCode</key>
            <string>F3E5AB</string>
        </dict>
        
    </array>
</plist>
