

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>

        <dict>
            <key>Title</key>
            <string>Smileys</string>
            <key>Stickers</key>
            <array>
            <string>smileys_000</string>
            <string>smileys_001</string>
            <string>smileys_002</string>
            <string>smileys_003</string>
            <string>smileys_004</string>
            <string>smileys_005</string>
            <string>smileys_006</string>
            <string>smileys_007</string>
            <string>smileys_008</string>
            <string>smileys_009</string>
            <string>smileys_010</string>
            <string>smileys_011</string>
            <string>smileys_012</string>
            <string>smileys_013</string>
            <string>smileys_014</string>
            <string>smileys_015</string>
            <string>smileys_016</string>
            <string>smileys_017</string>
            <string>smileys_018</string>
            <string>smileys_019</string>
            <string>smileys_020</string>
            <string>smileys_021</string>
            <string>smileys_022</string>
            <string>smileys_023</string>
            <string>smileys_024</string>
            <string>smileys_025</string>
            <string>smileys_026</string>
            <string>smileys_027</string>
            <string>smileys_028</string>
            <string>smileys_029</string>
            <string>smileys_030</string>
            <string>smileys_031</string>
            <string>smileys_032</string>
            <string>smileys_033</string>
            <string>smileys_034</string>
            <string>smileys_035</string>
            <string>smileys_036</string>
            <string>smileys_037</string>
            <string>smileys_038</string>
            <string>smileys_039</string>
            <string>smileys_040</string>
            <string>smileys_041</string>
            <string>smileys_042</string>
            <string>smileys_043</string>
            <string>smileys_044</string>
            <string>smileys_045</string>
            <string>smileys_046</string>
            <string>smileys_047</string>
            <string>smileys_048</string>
            <string>smileys_049</string>
            <string>smileys_050</string>
            <string>smileys_051</string>
            <string>smileys_052</string>
            <string>smileys_053</string>
            <string>smileys_054</string>
            <string>smileys_055</string>
            <string>smileys_056</string>
            <string>smileys_057</string>
            <string>smileys_058</string>
            <string>smileys_059</string>
            <string>smileys_060</string>
            <string>smileys_061</string>
            <string>smileys_062</string>
            <string>smileys_063</string>
            <string>smileys_064</string>
            <string>smileys_065</string>
            <string>smileys_066</string>
            <string>smileys_067</string>
            <string>smileys_068</string>
            <string>smileys_069</string>
            <string>smileys_070</string>
            <string>smileys_071</string>
            <string>smileys_072</string>
            <string>smileys_073</string>
            <string>smileys_074</string>
            <string>smileys_075</string>
            <string>smileys_076</string>
            <string>smileys_077</string>
            <string>smileys_078</string>
            <string>smileys_079</string>
            <string>smileys_080</string>
            <string>smileys_081</string>
            <string>smileys_082</string>
            </array>
        </dict>


        <dict>
            <key>Title</key>
            <string>Icons</string>
            <key>Stickers</key>
            <array>
            <string>icons_000</string>
            <string>icons_001</string>
            <string>icons_002</string>
            <string>icons_003</string>
            <string>icons_004</string>
            <string>icons_005</string>
            <string>icons_006</string>
            <string>icons_007</string>
            <string>icons_008</string>
            <string>icons_009</string>
            <string>icons_010</string>
            <string>icons_011</string>
            <string>icons_012</string>
            <string>icons_013</string>
            <string>icons_014</string>
            <string>icons_015</string>
            <string>icons_016</string>
            <string>icons_017</string>
            <string>icons_018</string>
            <string>icons_019</string>
            <string>icons_020</string>
            <string>icons_021</string>
            <string>icons_022</string>
            <string>icons_023</string>
            <string>icons_024</string>
            <string>icons_025</string>
            <string>icons_026</string>
            <string>icons_027</string>
            <string>icons_028</string>
            <string>icons_029</string>
            <string>icons_030</string>
            <string>icons_031</string>
            <string>icons_032</string>
            <string>icons_033</string>
            <string>icons_034</string>
            <string>icons_035</string>
            <string>icons_036</string>
            <string>icons_037</string>
            <string>icons_038</string>
            <string>icons_039</string>
            <string>icons_040</string>
            <string>icons_041</string>
            <string>icons_042</string>
            <string>icons_043</string>
            <string>icons_044</string>
            <string>icons_045</string>
            <string>icons_046</string>
            <string>icons_047</string>
            <string>icons_048</string>
            <string>icons_049</string>
            <string>icons_050</string>
            <string>icons_051</string>
            <string>icons_052</string>
            <string>icons_053</string>
            <string>icons_054</string>
            <string>icons_055</string>
            <string>icons_056</string>
            <string>icons_057</string>
            <string>icons_058</string>
            <string>icons_059</string>
            <string>icons_060</string>
            <string>icons_061</string>
            <string>icons_062</string>
            <string>icons_063</string>
            <string>icons_064</string>
            <string>icons_065</string>
            <string>icons_066</string>
            <string>icons_067</string>
            <string>icons_068</string>
            <string>icons_069</string>
            <string>icons_070</string>
            <string>icons_071</string>
            <string>icons_072</string>
            <string>icons_073</string>
            <string>icons_074</string>
            <string>icons_075</string>
            <string>icons_076</string>
            <string>icons_077</string>
            <string>icons_078</string>
            <string>icons_079</string>
            <string>icons_080</string>
            <string>icons_081</string>
            <string>icons_082</string>
            <string>icons_083</string>
            <string>icons_084</string>
            <string>icons_085</string>
            <string>icons_086</string>
            <string>icons_087</string>
            </array>
        </dict>


        <dict>
            <key>Title</key>
            <string>Love</string>
            <key>Stickers</key>
            <array>
            <string>love_000</string>
            <string>love_001</string>
            <string>love_002</string>
            <string>love_003</string>
            <string>love_004</string>
            <string>love_005</string>
            <string>love_006</string>
            <string>love_007</string>
            <string>love_008</string>
            <string>love_009</string>
            <string>love_010</string>
            <string>love_011</string>
            <string>love_012</string>
            <string>love_013</string>
            <string>love_014</string>
            <string>love_015</string>
            <string>love_016</string>
            <string>love_017</string>
            <string>love_018</string>
            <string>love_019</string>
            <string>love_020</string>
            <string>love_021</string>
            <string>love_022</string>
            <string>love_023</string>
            <string>love_024</string>
            <string>love_025</string>
            <string>love_026</string>
            <string>love_027</string>
            <string>love_028</string>
            <string>love_029</string>
            <string>love_030</string>
            <string>love_031</string>
            <string>love_032</string>
            <string>love_033</string>
            <string>love_034</string>
            <string>love_035</string>
            <string>love_036</string>
            <string>love_037</string>
            <string>love_038</string>
            <string>love_039</string>
            <string>love_040</string>
            <string>love_041</string>
            <string>love_042</string>
            <string>love_043</string>
            <string>love_044</string>
            <string>love_045</string>
            <string>love_046</string>
            <string>love_047</string>
            <string>love_048</string>
            <string>love_049</string>
            <string>love_050</string>
            <string>love_051</string>
            <string>love_052</string>
            <string>love_053</string>
            <string>love_054</string>
            <string>love_055</string>
            <string>love_056</string>
            <string>love_057</string>
            <string>love_058</string>
            <string>love_059</string>
            <string>love_060</string>
            <string>love_061</string>
            <string>love_062</string>
            <string>love_063</string>
            <string>love_064</string>
            <string>love_065</string>
            <string>love_066</string>
            <string>love_067</string>
            <string>love_068</string>
            <string>love_069</string>
            <string>love_070</string>
            <string>love_071</string>
            <string>love_072</string>
            <string>love_073</string>
            <string>love_074</string>
            <string>love_075</string>
            <string>love_076</string>
            <string>love_077</string>
            <string>love_078</string>
            <string>love_079</string>
            <string>love_080</string>
            <string>love_081</string>
            <string>love_082</string>
            <string>love_083</string>
            <string>love_084</string>
            <string>love_085</string>
            <string>love_086</string>
            <string>love_087</string>
            <string>love_088</string>
            <string>love_089</string>
            <string>love_090</string>
            <string>love_091</string>
            <string>love_092</string>
            <string>love_093</string>
            <string>love_094</string>
            </array>
        </dict>


        <dict>
            <key>Title</key>
            <string>Texts</string>
            <key>Stickers</key>
            <array>
            <string>texts_000</string>
            <string>texts_001</string>
            <string>texts_002</string>
            <string>texts_003</string>
            <string>texts_004</string>
            <string>texts_005</string>
            <string>texts_006</string>
            <string>texts_007</string>
            <string>texts_008</string>
            <string>texts_009</string>
            <string>texts_010</string>
            <string>texts_011</string>
            <string>texts_012</string>
            <string>texts_013</string>
            <string>texts_014</string>
            <string>texts_015</string>
            <string>texts_016</string>
            <string>texts_017</string>
            <string>texts_018</string>
            <string>texts_019</string>
            <string>texts_020</string>
            <string>texts_021</string>
            <string>texts_022</string>
            <string>texts_023</string>
            <string>texts_024</string>
            <string>texts_025</string>
            <string>texts_026</string>
            <string>texts_027</string>
            <string>texts_028</string>
            <string>texts_029</string>
            <string>texts_030</string>
            <string>texts_031</string>
            <string>texts_032</string>
            <string>texts_033</string>
            <string>texts_034</string>
            <string>texts_035</string>
            <string>texts_036</string>
            <string>texts_037</string>
            <string>texts_038</string>
            <string>texts_039</string>
            <string>texts_040</string>
            <string>texts_041</string>
            <string>texts_042</string>
            <string>texts_043</string>
            <string>texts_044</string>
            <string>texts_045</string>
            <string>texts_046</string>
            <string>texts_047</string>
            <string>texts_048</string>
            <string>texts_049</string>
            <string>texts_050</string>
            <string>texts_051</string>
            <string>texts_052</string>
            <string>texts_053</string>
            <string>texts_054</string>
            <string>texts_055</string>
            <string>texts_056</string>
            <string>texts_057</string>
            <string>texts_058</string>
            <string>texts_059</string>
            <string>texts_060</string>
            <string>texts_061</string>
            <string>texts_062</string>
            <string>texts_063</string>
            <string>texts_064</string>
            <string>texts_065</string>
            <string>texts_066</string>
            <string>texts_067</string>
            <string>texts_068</string>
            </array>
        </dict>
            

        <dict>
            <key>Title</key>
            <string>Stickers</string>
            <key>Stickers</key>
            <array>
            <string>sticker_000</string>
            <string>sticker_001</string>
            <string>sticker_002</string>
            <string>sticker_003</string>
            <string>sticker_004</string>
            <string>sticker_005</string>
            <string>sticker_006</string>
            <string>sticker_007</string>
            <string>sticker_008</string>
            <string>sticker_009</string>
            <string>sticker_010</string>
            <string>sticker_011</string>
            <string>sticker_012</string>
            <string>sticker_013</string>
            <string>sticker_014</string>
            <string>sticker_015</string>
            <string>sticker_016</string>
            <string>sticker_017</string>
            <string>sticker_018</string>
            <string>sticker_019</string>
            <string>sticker_020</string>
            <string>sticker_021</string>
            <string>sticker_022</string>
            <string>sticker_023</string>
            <string>sticker_024</string>
            <string>sticker_025</string>
            <string>sticker_026</string>
            <string>sticker_027</string>
            <string>sticker_028</string>
            <string>sticker_029</string>
            <string>sticker_030</string>
            <string>sticker_031</string>
            <string>sticker_032</string>
            <string>sticker_033</string>
            <string>sticker_034</string>
            <string>sticker_035</string>
            <string>sticker_036</string>
            <string>sticker_037</string>
            <string>sticker_038</string>
            <string>sticker_039</string>
            <string>sticker_040</string>
            <string>sticker_041</string>
            <string>sticker_042</string>
            <string>sticker_043</string>
            <string>sticker_044</string>
            <string>sticker_045</string>
            <string>sticker_046</string>
            <string>sticker_047</string>
            <string>sticker_048</string>
            <string>sticker_049</string>
            <string>sticker_050</string>
            <string>sticker_051</string>
            <string>sticker_052</string>
            <string>sticker_053</string>
            <string>sticker_054</string>
            <string>sticker_055</string>
            <string>sticker_056</string>
            <string>sticker_057</string>
            <string>sticker_058</string>
            <string>sticker_059</string>
            <string>sticker_060</string>
            <string>sticker_061</string>
            <string>sticker_062</string>
            <string>sticker_063</string>
            <string>sticker_064</string>
            <string>sticker_065</string>
            <string>sticker_066</string>
            <string>sticker_067</string>
            <string>sticker_068</string>
            </array>
        </dict>


        <dict>
            <key>Title</key>
            <string>Passions</string>
            <key>Stickers</key>
            <array>
            <string>passions_000</string>
            <string>passions_001</string>
            <string>passions_002</string>
            <string>passions_003</string>
            <string>passions_004</string>
            <string>passions_005</string>
            <string>passions_006</string>
            <string>passions_007</string>
            <string>passions_008</string>
            <string>passions_009</string>
            <string>passions_010</string>
            <string>passions_011</string>
            <string>passions_012</string>
            <string>passions_013</string>
            <string>passions_014</string>
            <string>passions_015</string>
            <string>passions_016</string>
            <string>passions_017</string>
            <string>passions_018</string>
            <string>passions_019</string>
            <string>passions_020</string>
            <string>passions_021</string>
            <string>passions_022</string>
            <string>passions_023</string>
            <string>passions_024</string>
            <string>passions_025</string>
            <string>passions_026</string>
            <string>passions_027</string>
            <string>passions_028</string>
            <string>passions_029</string>
            <string>passions_030</string>
            <string>passions_031</string>
            <string>passions_032</string>
            <string>passions_033</string>
            <string>passions_034</string>
            <string>passions_035</string>
            <string>passions_036</string>
            <string>passions_037</string>
            <string>passions_038</string>
            <string>passions_039</string>
            <string>passions_040</string>
            <string>passions_041</string>
            <string>passions_042</string>
            <string>passions_043</string>
            <string>passions_044</string>
            <string>passions_045</string>
            <string>passions_046</string>
            <string>passions_047</string>
            <string>passions_048</string>
            <string>passions_049</string>
            <string>passions_050</string>
            <string>passions_051</string>
            <string>passions_052</string>
            <string>passions_053</string>
            <string>passions_054</string>
            <string>passions_055</string>
            <string>passions_056</string>
            <string>passions_057</string>
            <string>passions_058</string>
            <string>passions_059</string>
            <string>passions_060</string>
            <string>passions_061</string>
            </array>
        </dict>

    </array>
</plist>
