<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
    
        <dict>
            <key>colourName</key>
            <string>Aquamarine</string>
            <key>hexCode</key>
            <string>7FFFD4</string>
        </dict>

        <dict>
            <key>colourName</key>
            <string>Army Green</string>
            <key>hexCode</key>
            <string>454B1B</string>
        </dict>

        <dict>
            <key>colourName</key>
            <string>Blue Green</string>
            <key>hexCode</key>
            <string>088F8F</string>
        </dict>

        <dict>
            <key>colourName</key>
            <string>Bright Green</string>
            <key>hexCode</key>
            <string>AAFF00</string>
        </dict>

        <dict>
            <key>colourName</key>
            <string>Cadet Blue</string>
            <key>hexCode</key>
            <string>5F9EA0</string>
        </dict>

        <dict>
            <key>colourName</key>
            <string>Cadmium Green</string>
            <key>hexCode</key>
            <string>097969</string>
        </dict>

        <dict>
            <key>colourName</key>
            <string>Celadon</string>
            <key>hexCode</key>
            <string>AFE1AF</string>
        </dict>

        <dict>
            <key>colourName</key>
            <string>Chartreuse</string>
            <key>hexCode</key>
            <string>DFFF00</string>
        </dict>

        <dict>
            <key>colourName</key>
            <string>Citrine</string>
            <key>hexCode</key>
            <string>E4D00A</string>
        </dict>

        <dict>
            <key>colourName</key>
            <string>Dark Green</string>
            <key>hexCode</key>
            <string>023020</string>
        </dict>

        <dict>
            <key>colourName</key>
            <string>Emerald Green</string>
            <key>hexCode</key>
            <string>50C878</string>
        </dict>

        <dict>
            <key>colourName</key>
            <string>Eucalyptus</string>
            <key>hexCode</key>
            <string>5F8575</string>
        </dict>

        <dict>
            <key>colourName</key>
            <string>Fern Green</string>
            <key>hexCode</key>
            <string>4F7942</string>
        </dict>

        <dict>
            <key>colourName</key>
            <string>Forest Green</string>
            <key>hexCode</key>
            <string>228B22</string>
        </dict>

        <dict>
            <key>colourName</key>
            <string>Grass Green</string>
            <key>hexCode</key>
            <string>7CFC00</string>
        </dict>

        <dict>
            <key>colourName</key>
            <string>Jung</string>
            <key>hexCode</key>
            <string>Green</string>
        </dict>

        <dict>
            <key>colourName</key>
            <string>Kelly Green</string>
            <key>hexCode</key>
            <string>4CBB17</string>
        </dict>

        <dict>
            <key>colourName</key>
            <string>Light Green</string>
            <key>hexCode</key>
            <string>90EE90</string>
        </dict>

        <dict>
            <key>colourName</key>
            <string>Lime Green</string>
            <key>hexCode</key>
            <string>32CD32</string>
        </dict>

        <dict>
            <key>colourName</key>
            <string>Lincoln Green</string>
            <key>hexCode</key>
            <string>478778</string>
        </dict>

        <dict>
            <key>colourName</key>
            <string>Malachite</string>
            <key>hexCode</key>
            <string>0BDA51</string>
        </dict>

        <dict>
            <key>colourName</key>
            <string>Mint Green</string>
            <key>hexCode</key>
            <string>98FB98</string>
        </dict>

        <dict>
            <key>colourName</key>
            <string>Moss Green</string>
            <key>hexCode</key>
            <string>8A9A5B</string>
        </dict>

        <dict>
            <key>colourName</key>
            <string>Neon Green</string>
            <key>hexCode</key>
            <string>0FFF50</string>
        </dict>

        <dict>
            <key>colourName</key>
            <string>Nyanza</string>
            <key>hexCode</key>
            <string>ECFFDC</string>
        </dict>

        <dict>
            <key>colourName</key>
            <string>Olive Green</string>
            <key>hexCode</key>
            <string>808000</string>
        </dict>

        <dict>
            <key>colourName</key>
            <string>Pastel Green</string>
            <key>hexCode</key>
            <string>C1E1C1</string>
        </dict>

        <dict>
            <key>colourName</key>
            <string>Pear</string>
            <key>hexCode</key>
            <string>C9CC3F</string>
        </dict>

        <dict>
            <key>colourName</key>
            <string>Peridot</string>
            <key>hexCode</key>
            <string>B4C424</string>
        </dict>

        <dict>
            <key>colourName</key>
            <string>Pistachio</string>
            <key>hexCode</key>
            <string>93C572</string>
        </dict>

        <dict>
            <key>colourName</key>
            <string>Robin Egg Blue</string>
            <key>hexCode</key>
            <string>96DED1</string>
        </dict>

        <dict>
            <key>colourName</key>
            <string>Sage Green</string>
            <key>hexCode</key>
            <string>8A9A5B</string>
        </dict>

        <dict>
            <key>colourName</key>
            <string>Sea Green</string>
            <key>hexCode</key>
            <string>2E8B57</string>
        </dict>

        <dict>
            <key>colourName</key>
            <string>Seafoam Green</string>
            <key>hexCode</key>
            <string>9FE2BF</string>
        </dict>

        <dict>
            <key>colourName</key>
            <string>Shamrock Green</string>
            <key>hexCode</key>
            <string>009E60</string>
        </dict>

        <dict>
            <key>colourName</key>
            <string>Spring Green</string>
            <key>hexCode</key>
            <string>00FF7F</string>
        </dict>

        <dict>
            <key>colourName</key>
            <string>Teal</string>
            <key>hexCode</key>
            <string>008080</string>
        </dict>
        
    </array>
</plist>

