<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        
        <dict>
            <key>colourName</key>
            <string>Ash Gray</string>
            <key>hexCode</key>
            <string>B2BEB5</string>
        </dict>
        
        <dict>
            <key>colourName</key>
            <string>Blue Gray</string>
            <key>hexCode</key>
            <string>7393B3</string>
        </dict>
        
        <dict>
            <key>colourName</key>
            <string>Charcoal</string>
            <key>hexCode</key>
            <string>36454F</string>
        </dict>
        
        <dict>
            <key>colourName</key>
            <string>Dark Gray</string>
            <key>hexCode</key>
            <string>A9A9A9</string>
        </dict>
        
        <dict>
            <key>colourName</key>
            <string>Glaucous</string>
            <key>hexCode</key>
            <string>6082B6</string>
        </dict>
        
        <dict>
            <key>colourName</key>
            <string>Gray</string>
            <key>hexCode</key>
            <string>808080</string>
        </dict>
        
        <dict>
            <key>colourName</key>
            <string>Gunmetal Gray</string>
            <key>hexCode</key>
            <string>818589</string>
        </dict>
        
        <dict>
            <key>colourName</key>
            <string>Light Gray</string>
            <key>hexCode</key>
            <string>D3D3D3</string>
        </dict>
        
        <dict>
            <key>colourName</key>
            <string>Pewter</string>
            <key>hexCode</key>
            <string>899499</string>
        </dict>
        
        <dict>
            <key>colourName</key>
            <string>Platinum</string>
            <key>hexCode</key>
            <string>E5E4E2</string>
        </dict>
        
        <dict>
            <key>colourName</key>
            <string>Sage Green</string>
            <key>hexCode</key>
            <string>8A9A5B</string>
        </dict>
        
        <dict>
            <key>colourName</key>
            <string>Silver</string>
            <key>hexCode</key>
            <string>C0C0C0</string>
        </dict>
        
        <dict>
            <key>colourName</key>
            <string>Slate Gray</string>
            <key>hexCode</key>
            <string>708090</string>
        </dict>
        
        <dict>
            <key>colourName</key>
            <string>Smoke</string>
            <key>hexCode</key>
            <string>848884</string>
        </dict>
        
        <dict>
            <key>colourName</key>
            <string>Steel Gray</string>
            <key>hexCode</key>
            <string>71797E</string>
        </dict>
        
    </array>
</plist>
