<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        
        <dict>
            <key>colourName</key>
            <string>Amaranth</string>
            <key>hexCode</key>
            <string>9F2B68</string>
        </dict>
        
        <dict>
            <key>colourName</key>
            <string>Bright Purple</string>
            <key>hexCode</key>
            <string>BF40BF</string>
        </dict>
        
        <dict>
            <key>colourName</key>
            <string>Burgundy</string>
            <key>hexCode</key>
            <string>800020</string>
        </dict>
        
        <dict>
            <key>colourName</key>
            <string>Byzantium</string>
            <key>hexCode</key>
            <string>702963</string>
        </dict>
        
        <dict>
            <key>colourName</key>
            <string>Dark Pink</string>
            <key>hexCode</key>
            <string>AA336A</string>
        </dict>
        
        <dict>
            <key>colourName</key>
            <string>Dark Purple</string>
            <key>hexCode</key>
            <string>301934</string>
        </dict>
        
        <dict>
            <key>colourName</key>
            <string>Eggplant</string>
            <key>hexCode</key>
            <string>483248</string>
        </dict>
        
        <dict>
            <key>colourName</key>
            <string>Iris</string>
            <key>hexCode</key>
            <string>5D3FD3</string>
        </dict>
        
        <dict>
            <key>colourName</key>
            <string>Lavender</string>
            <key>hexCode</key>
            <string>E6E6FA</string>
        </dict>
        
        <dict>
            <key>colourName</key>
            <string>Light Purple</string>
            <key>hexCode</key>
            <string>CBC3E3</string>
        </dict>
        
        <dict>
            <key>colourName</key>
            <string>Light Violet</string>
            <key>hexCode</key>
            <string>CF9FFF</string>
        </dict>
        
        <dict>
            <key>colourName</key>
            <string>Lilac</string>
            <key>hexCode</key>
            <string>AA98A9</string>
        </dict>
        
        <dict>
            <key>colourName</key>
            <string>Mauve</string>
            <key>hexCode</key>
            <string>E0B0FF</string>
        </dict>
        
        <dict>
            <key>colourName</key>
            <string>Mauve Taupe</string>
            <key>hexCode</key>
            <string>915F6D</string>
        </dict>
        
        <dict>
            <key>colourName</key>
            <string>Mulberry</string>
            <key>hexCode</key>
            <string>770737</string>
        </dict>
        
        <dict>
            <key>colourName</key>
            <string></string>
            <key>hexCode</key>
            <string></string>
        </dict>
        
        <dict>
            <key>colourName</key>
            <string>Orchid</string>
            <key>hexCode</key>
            <string>DA70D6</string>
        </dict>
        
        <dict>
            <key>colourName</key>
            <string>Pastel Purple</string>
            <key>hexCode</key>
            <string>C3B1E1</string>
        </dict>
        
        <dict>
            <key>colourName</key>
            <string></string>
            <key>hexCode</key>
            <string></string>
        </dict>
        
        <dict>
            <key>colourName</key>
            <string>Periwinkle</string>
            <key>hexCode</key>
            <string>CCCCFF</string>
        </dict>
        
        <dict>
            <key>colourName</key>
            <string>Plum</string>
            <key>hexCode</key>
            <string>673147</string>
        </dict>
        
        <dict>
            <key>colourName</key>
            <string>Puce</string>
            <key>hexCode</key>
            <string>A95C68</string>
        </dict>
        
        <dict>
            <key>colourName</key>
            <string>Purple</string>
            <key>hexCode</key>
            <string>800080</string>
        </dict>
        
        <dict>
            <key>colourName</key>
            <string>Quartz</string>
            <key>hexCode</key>
            <string>51414F</string>
        </dict>
        
        <dict>
            <key>colourName</key>
            <string>Red Purple</string>
            <key>hexCode</key>
            <string>953553</string>
        </dict>
        
        <dict>
            <key>colourName</key>
            <string>Thistle</string>
            <key>hexCode</key>
            <string>D8BFD8</string>
        </dict>
        
        <dict>
            <key>colourName</key>
            <string>Tyrian Purple</string>
            <key>hexCode</key>
            <string>630330</string>
        </dict>
        
        <dict>
            <key>colourName</key>
            <string>Violet</string>
            <key>hexCode</key>
            <string>7F00FF</string>
        </dict>
        
        <dict>
            <key>colourName</key>
            <string>Wine</string>
            <key>hexCode</key>
            <string>722F37</string>
        </dict>
        
        <dict>
            <key>colourName</key>
            <string>Wisteria</string>
            <key>hexCode</key>
            <string>BDB5D5</string>
        </dict>
        
    </array>
</plist>
