<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        
        <dict>
            <key>colourName</key>
            <string>Blood Red</string>
            <key>hexCode</key>
            <string>880808</string>
        </dict>
        
        <dict>
            <key>colourName</key>
            <string>Brick Red</string>
            <key>hexCode</key>
            <string>AA4A44</string>
        </dict>
        
        <dict>
            <key>colourName</key>
            <string>Bright Red</string>
            <key>hexCode</key>
            <string>EE4B2B</string>
        </dict>
        
        <dict>
            <key>colourName</key>
            <string>Burgundy</string>
            <key>hexCode</key>
            <string>800020</string>
        </dict>
        
        <dict>
            <key>colourName</key>
            <string>Burnt Sienna</string>
            <key>hexCode</key>
            <string>E97451</string>
        </dict>
        
        <dict>
            <key>colourName</key>
            <string>Cadmium Red</string>
            <key>hexCode</key>
            <string>D22B2B</string>
        </dict>
        
        <dict>
            <key>colourName</key>
            <string>Cardinal Red</string>
            <key>hexCode</key>
            <string>C41E3A</string>
        </dict>
        
        <dict>
            <key>colourName</key>
            <string>Carmine</string>
            <key>hexCode</key>
            <string>D70040</string>
        </dict>
        
        <dict>
            <key>colourName</key>
            <string>Cerise</string>
            <key>hexCode</key>
            <string>DE3163</string>
        </dict>
        
        <dict>
            <key>colourName</key>
            <string>Coral Pink</string>
            <key>hexCode</key>
            <string>F88379</string>
        </dict>
        
        <dict>
            <key>colourName</key>
            <string>Crimson</string>
            <key>hexCode</key>
            <string>DC143C</string>
        </dict>
        
        <dict>
            <key>colourName</key>
            <string>Dark Red</string>
            <key>hexCode</key>
            <string>8B0000</string>
        </dict>
        
        <dict>
            <key>colourName</key>
            <string>Falu Red</string>
            <key>hexCode</key>
            <string>7B1818</string>
        </dict>
        
        <dict>
            <key>colourName</key>
            <string>Garnet</string>
            <key>hexCode</key>
            <string>9A2A2A</string>
        </dict>
        
        <dict>
            <key>colourName</key>
            <string>Mahogany</string>
            <key>hexCode</key>
            <string>C04000</string>
        </dict>
        
        <dict>
            <key>colourName</key>
            <string>Maroon</string>
            <key>hexCode</key>
            <string>800000</string>
        </dict>
        
        <dict>
            <key>colourName</key>
            <string>Marsala</string>
            <key>hexCode</key>
            <string>986868</string>
        </dict>
        
        <dict>
            <key>colourName</key>
            <string>Mulberry</string>
            <key>hexCode</key>
            <string>770737</string>
        </dict>
        
        <dict>
            <key>colourName</key>
            <string>Neon Red</string>
            <key>hexCode</key>
            <string>FF3131</string>
        </dict>
        
        <dict>
            <key>colourName</key>
            <string>Oxblood</string>
            <key>hexCode</key>
            <string>4A0404</string>
        </dict>
        
        <dict>
            <key>colourName</key>
            <string>Poppy</string>
            <key>hexCode</key>
            <string>E35335</string>
        </dict>
        
        <dict>
            <key>colourName</key>
            <string>Raspberry</string>
            <key>hexCode</key>
            <string>E30B5C</string>
        </dict>
        
        <dict>
            <key>colourName</key>
            <string>Red</string>
            <key>hexCode</key>
            <string>FF0000</string>
        </dict>
        
        <dict>
            <key>colourName</key>
            <string>Red Brown</string>
            <key>hexCode</key>
            <string>A52A2A</string>
        </dict>
        
        <dict>
            <key>colourName</key>
            <string>Red Ochre</string>
            <key>hexCode</key>
            <string>913831</string>
        </dict>
        
        <dict>
            <key>colourName</key>
            <string>Red Orange</string>
            <key>hexCode</key>
            <string>FF4433</string>
        </dict>
        
        <dict>
            <key>colourName</key>
            <string>Rose Red</string>
            <key>hexCode</key>
            <string>C21E56</string>
        </dict>
        
        <dict>
            <key>colourName</key>
            <string>Ruby Red</string>
            <key>hexCode</key>
            <string>E0115F</string>
        </dict>
        
        <dict>
            <key>colourName</key>
            <string>Salmon</string>
            <key>hexCode</key>
            <string>FA8072</string>
        </dict>
        
        <dict>
            <key>colourName</key>
            <string>Scarlet</string>
            <key>hexCode</key>
            <string>FF2400</string>
        </dict>
        
        <dict>
            <key>colourName</key>
            <string>Sunset Orange</string>
            <key>hexCode</key>
            <string>FA5F55</string>
        </dict>
        
        <dict>
            <key>colourName</key>
            <string></string>
            <key>hexCode</key>
            <string></string>
        </dict>
        
        <dict>
            <key>colourName</key>
            <string>Terra Cotta</string>
            <key>hexCode</key>
            <string>E3735E</string>
        </dict>
        
        <dict>
            <key>colourName</key>
            <string>Tuscan Red</string>
            <key>hexCode</key>
            <string>7C3030</string>
        </dict>
        
        <dict>
            <key>colourName</key>
            <string></string>
            <key>hexCode</key>
            <string></string>
        </dict>
        
        <dict>
            <key>colourName</key>
            <string>Venetian Red</string>
            <key>hexCode</key>
            <string>A42A04</string>
        </dict>
        
        <dict>
            <key>colourName</key>
            <string>Vermillion</string>
            <key>hexCode</key>
            <string>E34234</string>
        </dict>
            
    </array>
</plist>
