<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>items</key>
		<array>

			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>headerCellClass</key>
				<string>TDHeaderCell</string>
				<key>title</key>
				<string>Appearance</string>
			</dict>

			<dict>
				<key>cellClass</key>
				<string>TDAppearanceCell</string>
				<key>key</key>
				<string>luvAppearance</string>
				<key>default</key>
				<string>luvDark</string>
				<key>defaults</key>
				<string>com.TitanD3v.LuvPrefs</string>
				<key>PostNotification</key>
				<string>com.TitanD3v.LuvPrefs.settingschanged</string>
				<key>options</key>
				<dict>
					<key>light</key>
					<dict>
						<key>appearanceOption</key>
						<string>luvLight</string>
						<key>title</key>
						<string>Light</string>
						<key>imageName</key>
						<string>appearance-light</string>
						<key>arrangement</key>
						<integer>1</integer>
					</dict>
					<key>dark</key>
					<dict>
						<key>appearanceOption</key>
						<string>luvDark</string>
						<key>title</key>
						<string>Dark</string>
						<key>imageName</key>
						<string>appearance-dark</string>
						<key>arrangement</key>
						<integer>2</integer>
					</dict>
					<key>dynamic</key>
					<dict>
						<key>appearanceOption</key>
						<string>luvDynamic</string>
						<key>title</key>
						<string>Dynamic</string>
						<key>imageName</key>
						<string>appearance-dynamic</string>
						<key>arrangement</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>headerCellClass</key>
				<string>TDHeaderCell</string>
				<key>title</key>
				<string>Style</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSSegmentCell</string>
				<key>cellClass</key>
				<string>TDSegmentCell</string>
				<key>key</key>
				<string>floatingButtonStyles</string>
				<key>default</key>
				<string>0</string>
				<key>validTitles</key>
				<array>
					<string>Circle</string>
					<string>Rounded</string>
				</array>
				<key>validValues</key>
				<array>
					<integer>0</integer>
					<integer>1</integer>
				</array>
				<key>title</key>
				<string>Floating Button Style</string>
				<key>showTips</key>
				<false/>
				<key>defaults</key>
				<string>com.TitanD3v.LuvPrefs</string>
				<key>PostNotification</key>
				<string>com.TitanD3v.LuvPrefs.settingschanged</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>headerCellClass</key>
				<string>TDHeaderCell</string>
				<key>title</key>
				<string>Size</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSSegmentCell</string>
				<key>cellClass</key>
				<string>TDSegmentCell</string>
				<key>key</key>
				<string>floatingButtonSize</string>
				<key>default</key>
				<string>0</string>
				<key>validTitles</key>
				<array>
					<string>Small</string>
					<string>Medium</string>
					<string>Large</string>
				</array>
				<key>validValues</key>
				<array>
					<integer>0</integer>
					<integer>1</integer>
					<integer>2</integer>
				</array>
				<key>title</key>
				<string>Floating Button Size</string>
				<key>showTips</key>
				<false/>
				<key>defaults</key>
				<string>com.TitanD3v.LuvPrefs</string>
				<key>PostNotification</key>
				<string>com.TitanD3v.LuvPrefs.settingschanged</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>headerCellClass</key>
				<string>TDHeaderCell</string>
				<key>title</key>
				<string>Icon</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSSegmentCell</string>
				<key>cellClass</key>
				<string>TDSegmentCell</string>
				<key>key</key>
				<string>floatingIconStyle</string>
				<key>default</key>
				<string>0</string>
				<key>validTitles</key>
				<array>
					<string>Fill</string>
					<string>Outline</string>
				</array>
				<key>validValues</key>
				<array>
					<integer>0</integer>
					<integer>1</integer>
				</array>
				<key>title</key>
				<string>Icon Style</string>
				<key>showTips</key>
				<false/>
				<key>defaults</key>
				<string>com.TitanD3v.LuvPrefs</string>
				<key>PostNotification</key>
				<string>com.TitanD3v.LuvPrefs.settingschanged</string>
			</dict>

		</array>
		<key>title</key>
		<string></string>
	</dict>
</plist>
